section.capabilities-start-screen.page__start-screen
    .capabilities-start-screen__content
        h2.subtitle.capabilities-start-screen__subtitle Международная программа CCE ICF.
            br
            |  Используйте методы коучинга в работе и
            br
            |  жизни.
        .capabilities-start-screen__text
            h1.title.capabilities-start-screen__title
                span.title__partial.title__partial--black КОУЧИНГ. ВОЗМОЖНОСТИ БЕЗ ГРАНИЦ
            p.description Старт обучения 24 октября 2020