section.capabilities-more
    .capabilities-more__content
        h3.capabilities-more__title Что еще входит в программу:
        - 
            const moreItems = [
                {
                    text: "Межмодульные практики",
                    img: "images/svg/capabilities/1.svg"
                },
                {
                    text: "Демо-сессии",
                    img: "images/svg/capabilities/2.svg"
                },
                {
                    text: "Групповая супервизия (по&nbsp;желанию&nbsp;участников обучения)",
                    img: "images/svg/capabilities/3.svg"
                },
                {
                    text: "Наблюдаемые сессии (для пакета Проф. и VIP)",
                    img: "images/svg/capabilities/4.svg",
                    badge: 'vip'
                },
                {
                    text: "Дополнительные&nbsp;часы индивидуального и&nbsp;группового&nbsp;менторинга",
                    img: "images/svg/capabilities/5.svg",
                    badge: 'vip'
                }
            ];
        ul.capabilities-more__list
            each moreItem in moreItems
                li.capabilities-more__item
                    .capabilities-more__img-outer
                        .capabilities-more__img-inner(data-badge=moreItem.badge)
                            img(alt=moreItem.name src=moreItem.img).capabilities-more__img
                    p.capabilities-more__item-name !{moreItem.text}
