.partners-header
    .container
        .breadcrumbs
            span.text.text-xs О центре / 
        .row.row--tablet-column
            .row__col.row__col--md-4
                h1.text.text--l Партнёры
            .row__col
                .text.text--s Представляем вашему вниманию значимые события из сферы коучинга, hr и управления.