-
    const partners = [
        {
            img: "partners-logo-1.png"
        },
        {
            img: "partners-logo-2.png"
        },
        {
            img: "partners-logo-3.png"
        },
        {
            img: "partners-logo-4.png"
        }
    ]

.partners-partners.mt-40
    .container.partners-partners__container
        .partners-partners__title.text.text--m2.text--bold Наши партнеры
        ul.partners-partners__list
            each partner in partners
                li.partners-partners__item
                    a(href=`https://upload.wikimedia.org/wikipedia/commons/e/ed/Elon_Musk_Royal_Society.jpg` data-type="image").partners-partners__link.glightbox
                        img(src=`images/png/${ partner.img }` alt="partner logo").partners-partners__logo
        ul.partners-partners__dots
