.hotline {
	color: $color-white;
	background: $color-blue;

	&__container {
		display: flex;
		align-items: center;
		
		@include mobile-l("min") {
			padding: 25px 22px;
		}
	
		@include tablet("min") {
			padding: 25px 30px;
		}
	
		@include laptop("min") {
			padding: 26px 28px;
		}
	
		@include desktop("min") {
			padding: 23px 160px;
		}
	
		@include tablet {
			padding: 25px 22px;
			flex-direction: column;
			align-items: unset;
		}
	}

	&__title {
		font-weight: 500;

		@include mobile-l("min") {
			font-size: 20px;
			line-height: 24px;
		}

		@include laptop("min") {
			font-size: 35px;
			line-height: 43px;
		}

		@include desktop("min") {
			font-size: 40px;
			line-height: 49px;
		}
	}

	&__description {
		font-size: 14px;
		line-height: 17px;
		margin-left: 72px;

		@include tablet {
			margin-left: unset;
			margin-top: 15px;
		}

		br {
			@include tablet {
				display: none;
			}
		}

		@include laptop('min') {
			margin-left: 60px;
		}
	}

	&__link {
		margin-left: auto;

		@include tablet {
			margin-left: unset;
			margin-top: 15px;
		}
	}
}
