.programs-carousel {
	$p: &;

	@include beetween-tablet-and-mobile {
		margin-top: -9.11458333333vw;
		margin-bottom: -3.90625vw;
	}

	&__line {
		max-width: 1400px;
		height: 530px;
		margin: 50px auto 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include tablet {
			height: unset;
		}
	}

	.swiper-container {
		max-width: 1270px;
		width: 100%;
		height: 100%;
	}

	.swiper-wrapper {
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;

		@include beetween-tablet-and-mobile {
			margin-left: 9.765625vw;
		}
	}

	.swiper-slide {
		position: relative;

		width: 230px;
		height: 342px;
		justify-content: center;
		z-index: 1;
		font-size: 18px;
		display: flex;

		@include beetween-tablet-and-mobile {
			height: 54vw !important;
		}

		@include mobile-l {
			width: unset;
			height: unset;
		}
	}

	.swiper-slide-active {
		z-index: 2;

		#{$p}__inner-slide {
			transform: scale(1) skewY(-3.826deg) translate(0);
			box-shadow: 0 10px 20px $color-black-opacity10;
			max-width: 690px;

			@include laptop-xs {
				transform: scale(0.8) skewY(-3.826deg);
			}

			@include beetween-tablet-and-mobile {
				max-width: 89.84375vw;
				max-height: 50.9114583vw;
			}

			@include mobile-l {
				box-shadow: none;
			}
		}

		#{$p}__img {
			opacity: 1;
		}
	}

	.swiper-slide-prev {
		justify-content: flex-end;

		#{$p}__inner-slide {
			margin-right: 100px;

			@include laptop-m {
				margin-right: 40px;
			}

			@include laptop {
				margin-right: 0;
			}
		}
	}

	.swiper-slide-next {
		justify-content: flex-start;

		#{$p}__inner-slide {
			margin-left: 100px;

			@include mobile-l {
				margin-left: unset;
			}
		}
	}

	&__inner-slide {
		position: absolute;
		width: 690px;
		height: 391px;
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		border-radius: 6px;
		background-color: $color-white;
		transform-origin: center;
		transition: all 0.6s ease;
		max-width: 315px;
		transform: scale(0.8) skewY(-3.826deg);

		@include laptop-xs {
			transform: scale(0.6) skewY(-3.826deg);
		}

		@include beetween-tablet-and-mobile {
			max-width: 41.015625vw;
			max-height: 50.9114583vw;
		}

		@include mobile-l {
			height: unset;
			position: initial;
			box-shadow: none;
			flex-direction: column;
			transform: none !important;
			max-width: 100% !important;
			max-height: unset !important;
			box-sizing: border-box;
			padding: 0 20px;
		}
	}

	&__content,
	&__img {
		flex-shrink: 0;
	}

	&__content {
		transform: skewY(3.826deg);
		transform-origin: left;
		padding: 20px 30px;
		max-width: 315px;
		transition: transform 0.8s ease;
		display: flex;
		flex-direction: column;
		box-sizing: content-box;

		@include beetween-tablet-and-mobile {
			padding: 2.60416666667vw 3.90625vw;
			max-width: 41.015625vw;
		}

		@include mobile-l {
			order: 2;
			max-width: unset !important;
			transform: none !important;
			margin-top: 20px;
			padding: 0;
		}
	}

	&__img-wrp {
		@include mobile-l {
			transform: skewY(-3.826deg);
			overflow: hidden;
			border-radius: 6px;
			transform-origin: right;
			height: 183px;
		}
	}

	&__img {
		height: 107%;
		width: 315px;
		object-fit: cover;
		flex-shrink: 0;
		transform: skewY(3.826deg);
		transform-origin: right;
		opacity: 0;
		transition: opacity 0.5s ease;

		@include beetween-tablet-and-mobile {
			width: 41.015625vw;
		}

		@include mobile-l {
			width: 100%;
			transform-origin: right top;
			height: 115%;
		}
	}

	&__tag {
		text-decoration: none;
		display: inline-block;
		padding: 7px 12px;
		border: 1px solid $color-gray-light2;
		border-radius: 2px;
		font-weight: 500;
		font-size: 15px;
		line-height: 15px;
		text-align: center;
		color: $color-blue;
		align-self: flex-start;

		@include beetween-tablet-and-mobile {
			font-size: 1.953125vw;
			line-height: 1.953125vw;
		}

		@include mobile-l {
			display: none;
		}
	}

	&__title,
	&__start,
	&__speakers {
		color: $color-gray;
	}

	&__title {
		margin-top: 22px;
		font-weight: 500;
		font-size: 26px;
		line-height: 30px;

		@include beetween-tablet-and-mobile {
			margin-top: 2.86458333333vw;
			font-size: 3.38541666667vw;
			line-height: 3.90625vw;
		}
	}

	&__start {
		margin-top: 18px;

		@include beetween-tablet-and-mobile {
			margin-top: 2.34375vw;
		}
	}

	&__speakers {
		margin-top: 21px;
		margin-bottom: 20px;

		@include beetween-tablet-and-mobile {
			margin-top: 2.734375vw;
			margin-bottom: 2.60416666667vw;
		}
	}

	&__start,
	&__speakers {
		font-size: 14px;
		line-height: 20px;

		@include beetween-tablet-and-mobile {
			font-size: 1.82291666667vw;
			line-height: 2.60416666667vw;
		}
	}

	&__start-date,
	&__speaker {
		font-weight: 500;
	}

	&__slide-btn {
		position: relative;
		margin-top: auto;
		margin-bottom: 36px;
		align-self: flex-start;
		transition: padding 0.4s ease;

		@include beetween-tablet-and-mobile {
			margin-bottom: 4.6875vw;
			padding: 1.5625vw 2.34375vw;
			font-size: 1.953125vw;
			line-height: 3.90625vw;
		}

		&:hover {
			padding-right: 70px;

			@include beetween-tablet-and-mobile {
				padding-right: 9.11458333333vw;
			}

			.button__icon {
				opacity: 1;
			}
		}

		.button__icon {
			opacity: 0;
			position: absolute;
			right: 18px;
			transition: opacity 0.8s ease;

			@include beetween-tablet-and-mobile {
				right: 2.34375vw;
			}
		}
	}

	&__btn {
		height: 100%;
		width: 12px;
		background: url("../images/svg/icon-prev-arrow-gray.svg") no-repeat
			center;
		border: none;
		padding: 0 30px;
		flex-shrink: 0;
		outline: none;

		&--next {
			transform: rotate(180deg);
		}

		@include tablet {
			display: none;
		}
	}

	&__dots {
		display: flex;
		justify-content: center;
		margin-top: 10px;

		@include tablet-s {
			padding: 0 10px;
			margin-top: 10px;
		}

		@include mobile-l {
			justify-content: unset;
		}
	}
}
