.stats {
	$p: &;

	display: flex;
	margin-top: 115px;

	@include laptop {
		margin-top: 100px;
	}

	@include tablet {
		margin-top: 80px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;
	}
	
	@include mobile-l {
		margin-top: 37px;
	}

	&__title,
	&__subtitle {
		text-align: center;

		@include tablet {
			text-align: left;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 120px;
		line-height: 147px;

		@include desktop {
			font-size: 80px;
			line-height: 98px;
		}

		@include laptop {
			font-size: 50px;
			line-height: 61px;
		}

		@include mobile-l {
			font-size: 35px;
			line-height: 43px;
		}
	}

	&__subtitle {
		padding: 0 6px;
		margin-top: 35px;
		font-size: 18px;
		line-height: 22px;
		background: linear-gradient($color-blue, $color-blue2);
		background-clip: text;
		-webkit-text-fill-color: transparent;

		@include desktop {
			margin-top: 25px;
			font-size: 16px;
			line-height: 20px;
		}

		@include laptop {
			margin-top: unset;
			padding: 0;
			font-size: 10px;
			line-height: 12px;
		}

		@include mobile-l {
			font-size: 12px;
			line-height: 15px;
		}
	}

	&__devider {
		height: 8px;
		margin-top: 7px;

		#{$p}--s {
			min-width: 100px;
		}

		#{$p}--m {
			min-width: 230px;
		}

		#{$p}--l {
			min-width: 460px;
		}

		#{$p}--xl {
			min-width: 560px;
		}

		@include tablet {
			display: none;
		}
	}

	&__item {
		&--l,
		&--xl {
			flex-grow: 1;
		}

		&--odd {
			#{$p}__title {
				color: $color-blue2;
			}

			#{$p}__devider {
				background-color: $color-blue2;
			}
		}

		&--even {
			#{$p}__title {
				color: $color-blue;
			}

			#{$p}__devider {
				background-color: $color-blue;
			}
		}
	}
}
