.start-screen {
	&__title {
		margin-top: 105px;

		@include laptop {
			margin-top: 84px;
		}

		@include tablet {
			margin-top: 210px;
			display: flex;
			flex-wrap: wrap;
		}

		@include mobile-l {
			margin-top: 27px;
		}
	}

	&__subtitle {
		br {
			@include laptop {
				display: none;
			}
		}

		@include tablet {
			font-size: 25px;
			line-height: 31px;
		}
	}
}
