.trapezoid {
	$offset: 76px;
	$skew: 3.826deg;

	position: relative;
	height: 556px;
	margin-top: 100px;
	color: $color-white;

	@include tablet-s {
		margin-bottom: unset;
	}

	@include mobile-l {
		margin-bottom: -50px;
		margin-top: 50px;
	}

	&__distortion {
		content: "";
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		background-color: $color-blue;
		transform: skewY(-$skew);
		transform-origin: right top;
		margin-bottom: $offset;
		z-index: -1;
		overflow: hidden;

		@include mobile-l {
			height: 510px;
			margin-bottom: 0;
		}
	}

	&__circle-text {
		transform: translate(68%, -36%) skewY(3.826deg) rotate(-3deg);
		transform-origin: left;

		text {
			fill: $color-blue2;
		}

		@include mobile-l {
			transform: translate(58%, -31%) skewY(3.826deg) rotate(90deg)
				scale(0.7);
		}
	}

	&__content {
		max-width: 430px;
		margin-left: 160px;
		padding-top: 143px;

		@include desktop {
			margin-left: 112px;
			padding-top: 121px;
		}

		@include laptop {
			margin-left: 92px;
			padding-top: 107px;
		}

		@include tablet-s {
			margin-left: 20px;
			padding-top: 50px;
		}

		@include mobile-l {
			margin-left: 0;
		}
	}

	&__title {
		font-weight: 300;
		font-size: 60px;
		line-height: 70px;

		@include mobile-l {
			font-size: 40px;
			line-height: 50px;
		}
	}

	&__description {
		margin-top: 35px;
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;

		@include mobile-l {
			font-size: 16px;
			line-height: 20px;
			margin-top: 20px;
		}
	}

	&__btn {
		margin-top: 35px;

		@include mobile-l {
			margin-top: 30px;
		}
	}
}
