.news-detail-card
    .container
        h1.text.text--l Изменения в ICP Centre
        br
        p.text.text--m Друзья, привет. Это очень важный пост о больших переменах. Он касается каждого, кому интересна не только история ICP Centre, но и российского коучинга в целом. Начнем с трёх важных тезисов. 
        br
        p.text.text--s2
            | 1) Современный коучинг — это пространство объединенной экспертизы. Точка, в которой коучинговые компетенции пересекаются с научными знаниями о психологии человека, социальной инженерии и антропологии. Наука развивается — коучинг развивается вместе с ней.
            br
            br
            | 2) Современный коучинг тесно и напрямую связан с образовательными технологиями, моделями управления командами и парадигмами бизнес-лидерства. Потому что коучинг — про людей, а люди в XXI веке — про обучение, взаимодействие, коллаборации и диалог.
            br
            br
            | 3) Современный коучинг — это модель мышления, позволяющая любому человеку самостоятельно выстраивать траекторию персональной эволюции. Поэтому ключевые слова здесь — гибкость и гибридность.
            br
            br
            | На протяжении последних 1,5 лет мы работали над тем, чтобы ICP Centre стал платформой для обучения именно такому коучингу — обоснованному, вписанному в социальные практики. А в центре внимания всегда — конкретный человек и его развитие.
            br
            br
            | Мы параллельно продвигали несколько направлений, разрабатывали и тестировали новые программы, привлекали ведущих экспертов, создавали международные коллаборации. Результатом 1,5-летней интенсивной работы стало масштабирование компании, о котором мы сегодня хотим вам рассказать. Мы становимся больше, объемнее, цельнее. И слово, которое лучше всего описывает ICP Centre сегодня, — экосистема.
        
        br
        h2.text.text--l2 Что не изменится?
        br
        p.text.text--s2
            | Наш фундамент — международные стандарты, этика и профессионализм.
            br
            br
            | Мы готовим профессиональных коучей к сертификации ICF любого уровня.
            br
            br
            | Мы готовим профессиональных менторов и супервизоров.
            br
            br
            | Мы продолжаем развивать онлайн-проект “Песочница”, позволяющий нашим студентам и выпускникам практиковаться друг с другом, оттачивая навыки в разных ролях.
            br
            br
            | Проект "Горячая линия" продолжит свою работу.
            br
            br
            | Мы по-прежнему обучаем коучингу самых разных людей.
            br
            br
            | Все наши программы и курсы доступны онлайн.
            br
            br
            | Представительства ICP Centre работают в Москве, Санкт-Петербурге и Екатеринбурге.

        br
        h2.text.text--l2 Что изменится?
        br
        p.text.text--s2
            | ICP Centre всегда был командой профессионалов, объединенных общим видением и ценностями. Но за эти пять лет наш центр стал ядром полноценного большого сообщества, в которое вошли сотни профессиональных коучей и амбассадоров коучингового мышления — наших выпускников, единомышленников и членов команды. Поэтому сегодня ICP Centre — это именно сообщество.
            br
            br
            | Нашей главной целью всегда было способствовать эволюции людей. Поэтому ICP Centre закономерно развился до life-long learning платформы для обучения самых разных аудиторий с самыми разными запросами. Профессиональными и личными.

        br
        h2.text.text--l2 Мы запустили несколько новых программ:
        br
        p.text.text--s2
            | — feedback-коучинг;
            br
            br
            | — agile-коучинг;
            br
            br
            | — программа “Осознанное родительство”.
            br
            br
            | Global Vision Coaching становится отдельным направлением, в которое мы собрали несколько продуктов для развития компаний и бизнес-лидеров.
            br
            br
            | Магистральная программа “Коучинг: возможности без границ” постоянно обновляется и меняется. Например, она обросла двумя стратегически важными блоками — интенсивом Натальи Гульчевской по agile-коучингу и интенсивом Елены Челокиди по коучингу для групп и команд.
            br
            br
            | Мы будем больше внимания уделять популяризации коучинга и коллаборациям с экспертами из разных сфер знаний. Мы запустили тотальный ребрендинг — логотип, сайт и наши аккаунты в социальных сетях серьезно изменятся.
            br
            br
            | Вам может показаться, что это революция в отдельно взятой компании, но все совсем наоборот. То, как развивается ICP Centre, — яркий пример эволюции. От прорывного проекта, создающего новую нишу на новом рынке, — до большой экосистемы, меняющей и сам рынок, и его участников.
            br
            br
            | Большое спасибо всей нашей команде — а это больше сотни человек! — за наш коллективный прорыв! Большое спасибо Ольге Рыбиной, без которой ICP Centre никогда бы не появился в России! Мы желаем Ольге удачи в её новом проекте — и, конечно, остаемся добрыми друзьями и союзниками. Большое спасибо всем нашим клиентам и студентам, которые помогают нам расти!
            br
            br
            | Совсем скоро мы начнем анонсировать набор на наши новые программы.