.leading-card {
    $p: &;

    padding: 40px 110px;

    @include laptop {
        padding: 40px 60px;
    }

    @include tablet-s1 {
        padding: 40px 30px;
    }

    &--orange {
        box-shadow: inset 0px 0px 0px 10px $color-orange4;
        
        #{$p}__name {
            color: $color-orange4;
        }
        
        #{$p}__img-wrp {
            background-color: $color-orange4;
        }
    }

    &--blue {
        box-shadow: inset 0px 0px 0px 10px $color-blue;
        
        #{$p}__name {
            color: $color-blue;
        }
        
        #{$p}__img-wrp {
            background-color: $color-blue;
        }
    }

    &--green {
        box-shadow: inset 0px 0px 0px 10px $color-green-light4;
        
        #{$p}__name {
            color: $color-green-light4;
        }
        
        #{$p}__img-wrp {
            background-color: $color-green-light4;
        }
    }

    &--gray {
        box-shadow: inset 0px 0px 0px 10px $color-gray-light10;
        
        #{$p}__name {
            color: $color-gray-light10;
        }
        
        #{$p}__img-wrp {
            background-color: $color-gray-light10;
        }
    }

    &__header {
        // -40px (padding) - 30px (row negative margin) - 30px (offset)
        margin-top: -100px;

        @include laptop {
            margin-top: 0;
        }
    }

    &__name {
        font-size: 5.55555556vw;
        line-height: 100%;
    }
    
    &__img {
        mix-blend-mode: overlay;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__img-wrp {
        width: 100%;
        max-width: 430px;
        height: 400px;
        overflow: hidden;

        @include laptop {
            width: 100%;
            height: 27.7777778vw;
        }

        @include tablet-s1 {
            height: 300px;
            max-width: unset;
        }        
    }

    &__info {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        height: 100%;
    }

    &__body {
        margin-top: 100px;
    }

    &__description {
        margin-top: 28px;
    }

    &__logo {
        width: 160px;
        height: 71px;
    }
    
    &__footer {
        margin-top: 50px;
    }
}