section.capabilities-start-screen.page__start-screen
    .capabilities-start-screen__content
        .capabilities-start-screen__text
            h1.title.capabilities-start-screen__title
                span.title__partial.title__partial--black Менторинг для коучей