+double-block("Как пройти менторинг", true)
    -
        const numberedItems = [
            "Определите для себя, в каком формате вы хотите пройти менторинг: индивидуально или в группе ",
            "В заявке укажите формат и фамилию ментора, с которым вы хотите работать",
            "Представитель ICP Centre свяжется с вами для согласования даты менторинга и сообщит ближайшие даты Менторинга"
        ]
    +numbered-list(numberedItems)