+double-block("Как выбрать ментора", true)
    -
        const numberedItems = [
            "На уровень АСС — вашим ментором может быть коуч уровня АСС, РСС, МСС ICF",
            "На уровень РСС — коуч уровня РСС или MCC ICF",
            "На уровень МСС — только коуч уровня МСС ICF"
        ]
    h4.text.text--m3 Определите, на какой уровень вы планируете пройти ICF-сертификацию
    .mt-50
        +numbered-list(numberedItems)