-
    const saleData = {
        title: 'СКИДКА 10% НА ПАКЕТЫ МЕНТОРИНГОВ',
        subtitle: 'Специальное предложение для всех, кто готовиться к сертификации ICF',
        description: 'Для получения сертификации в ICF на уровень ACC и PCC помимо образования в коучинге (сертификата ACSTH и ACTP) и часов практики, необходимо пройти минимум 10,5 часов индивидуального и группового менторинга.<br><br>Поэтому, мы сформировали пакеты, в которые уже включены нужные вам часы менторингов. Приобретая один из этих пакетов, вы сможете с легкостью подготовиться к предстоящей сертификации!'
    }
+sale(saleData.title, saleData.subtitle, saleData.description)