+double-block("Как будет проходить обучение:", true)
    -
        const tabsItems = [
            {
                name: "individual",
                label: "Индивидуальный менторинг",
                active: true
            },
            {
                name: "exam",
                label: "Ментор-сессия"
            }
        ]

        const educationItems = [
            "Проходит по расписанию, согласованному между ментором и коучем-менти",
            "Индивидуальный менторинг проводится в формате онлайн (Skype)",
            'В начале встречи ментор заключает контракт с коучем-менти:<br>— на какие вопросы коуч-менти хочет получить ответы;<br>— по каким 2-3 компетенциям коуч-менти хочет получить обратную связь от ментор',
            'Ментор дает обратную связь коучу-менти по заявленным компетенциям',
            'Подведение итогов индивидуального менторинга<br>— Рабочие материалы для индивидуального менторинга необходимо отправлять на: info@icpcentre.org<br>— Длительность индивидуальной ментор-сессии 1 час'
        ]
        
    +tabs(tabsItems)
        +slot('individual')
            +numbered-list(educationItems)
        +slot('exam')
            +numbered-list(educationItems)
    