.schedule-header
    .container
        .breadcrumbs
            span.text.text-xs Процесс обучения / 
        .row.row--tablet-column
            .row__col.row__col--md-5
                h1.text.text--l Представительства
            .row__col.row__col--md-5
                .text.text--s По вопросу сотрудничества и открытия представительства ICP Centre в вашем регионе – обращайтесь к Марине Балашовой 
                a(href="#").text.text--s regions@icpcentre.com