.loyalty-program-spend {
	padding: 80px 0 90px 0;

	&__row {
		display: flex;
        margin: -30px -30px 0 0;
        
        @include tablet {
            flex-direction: column;
        }
	}

	&__img-wrp {
		display: flex;
		justify-content: center;
		height: 100%;
	}

	&__col {
		padding: 30px 30px 0 0;
		box-sizing: content-box;

		&--left {
			flex-basis: 31.61%;
			flex-grow: 1;
        
			@include tablet {
				flex-basis: unset;
			}
		}

		&--right {
			flex-basis: 890px;
        
			@include tablet {
				flex-basis: unset;
			}
		}
	}

	&__img {
		max-width: 100%;
	}

	&__link {
		@include tablet-s1 {
			display: inline-flex;
			align-items: center;
			text-align: center;
			border: none;
			border-radius: 4px;
			font-weight: 500;
			font-size: 15px;
			line-height: 30px;
			text-decoration: none !important;
			padding: 7px 18px;
			background-color: $color-blue;
			color: $color-white;
			margin-top: 1em;
		}

		&::after {
			@include tablet-s1 {
				margin-bottom: 0;
			}
		}
	}
}
