.loyalty-program-header {
    display: flex;
    flex-direction: column;
    padding: 58px 0 62px 0;
    min-height: 610px;
    background: $color-blue url("../images/svg/bcg-loyalty-program.svg") center;
    background-attachment: fixed;
    color: $color-white;
    
    &__container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__description {
        margin-top: auto;
    }
}