section.capabilities-start-screen.page__start-screen
    .capabilities-start-screen__content
        h2.subtitle.capabilities-start-screen__subtitle Для знакомства с нами и нашими курсами
        .capabilities-start-screen__text
            h1.title.capabilities-start-screen__title
                span.title__partial.title__partial--black ОТКРЫТЫЕ ВЕБИНАРЫ
            p.description Первый вебинар — 19 августа