.breadcrumbs {
    position: relative;
    z-index: 1;
    margin-left: 4px;

    &__item {
        color: unset;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}