.comments {
	max-width: 775px;

	&__list {
		position: relative;
		&::after {
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #E8E8E8;
			content: "";
			right: 0;
			bottom: 0;
		}
	}

	&__count {
		font-weight: 500;
		font-size: 30px;
		line-height: 37px;
		color: #222222;
		padding-bottom: 18px;
	}

	
	&__more {
		display: flex;
		padding: 20px 0;
		justify-content: center;
	}
}
