.comments-form {
	padding: 10px 0;

	&__remember {
        margin-top: 35px;
        
        @include mobile-l {
            margin-top: 25px;
        }
	}

	&__submit-btn {
        margin-top: 85px;
        
        @include tablet {
            margin-top: 50px;
        }
        
        @include mobile-l {
            margin-top: 30px;
        }
	}

	&__row {
		margin-right: -30px;
		display: flex;
		flex-wrap: wrap;
    }
    
	&__col {
		padding: 18px 30px 0 0;
		flex-basis: 300px;
		flex-grow: 1;
    }
    
    &__textarea {
        resize: vertical;
    }

	&__reply-tag {
		display: inline-flex;
		padding: 5px 10px;
		border-radius: 10px;
		background-color: $color-blue11;
		align-items: center;
		color: $color-white;
		margin-bottom: 10px;
    }
    
	&__reply-tag-close {
		margin-left: 1em;
		width: 1em;
		height: 1em;
		background: url("../images/sprite.svg#icon-close") no-repeat 50%;
		background-size: cover;
		border: none;
		outline: none;
		filter: brightness(10);
	}

	.form__input {
		width: 100%;
	}
}
