.double-block {
	display: flex;

	@include tablet {
		flex-direction: column;
	}

	&__content {
		flex-grow: 1;
		margin-left: 110px;

		@include laptop {
			margin-left: 113px;
		}

		@include tablet {
			margin-left: unset;
			margin-top: 30px;
		}

		&--narrow {
			margin-left: 65px;

			@include laptop {
				margin-left: 28px;
			}
	
			@include tablet {
				margin-left: unset;
				flex-direction: column;
			}
			
			@include mobile-l {
				margin-top: 20px;
			}
		}
	}

	&__aside {
		min-width: 2.5em;
	}

	&__title {
		display: flex;
		align-items: flex-end;
		font-size: 20px;
		line-height: 25px;
		font-weight: 500;
		writing-mode: tb-rl;

		@include tablet {
			writing-mode: unset;
		}

		br {
			@include tablet {
				display: none;
			}
		}
	}
}
