.form-item {
	&__label {
		font-weight: bold;
		font-size: 10px;
		line-height: 20px;
		text-transform: uppercase;
		color: $color-black;
		margin-bottom: 10px;
	}

	&__content {
		&--multiple {
			display: flex;

			.form__input {
				width: 0 !important;
				flex-basis: 100%;
			}
		}
	}
}
