@import "./form-item";

.form {
    .form-item + .form-item {
        margin-top: 20px;
    }

    &__input {
        background: $color-white;
        border: 1px solid $color-gray-light8;
        padding: 0 15px;
        height: 44px;
        width: 430px;
        outline: none;
        max-width: 100%;
    }
}