.hotline {
	color: $color-white;
	background: $color-blue;

	&__container {
		display: flex;
		align-items: center;

		@include mobile-l("min") {
			padding: 25px 22px;
		}

		@include tablet("min") {
			padding: 25px 30px;
		}

		@include laptop("min") {
			padding: 26px 28px;
		}

		@include laptop-m("min") {
			padding: 23px 150px;
		}

		@include tablet-xs {
			padding: 25px 22px;
			flex-direction: column;
			align-items: unset;
		}
	}

	&__title {
		font-weight: 500;

		@include mobile-l("min") {
			font-size: 20px;
			line-height: 24px;
		}

		@include laptop("min") {
			font-size: 35px;
			line-height: 43px;
		}

		@include desktop("min") {
			font-size: 40px;
			line-height: 49px;
		}

		br {
			@include tablet("min") {
				display: none;
			}

			@include tablet-xs {
				display: none;
			}
		}
	}

	&__group {
		display: flex;
		align-items: center;

		@include tablet("min") {
			justify-content: space-between;
			flex-grow: 1;
			margin-left: 70px;
		}

		@include tablet {
			margin-left: auto;
		}

		@include tablet-xs {
			display: block;
		}
	}

	&__description {
		font-size: 14px;
		line-height: 17px;

		@include tablet {
			padding: 0 28px;
		}

		@include tablet-xs {
			padding: 0;
			margin-top: 15px;
		}

		br {
			@include tablet-xs {
				display: none;
			}
		}
	}

	&__link {
		display: inline-block;

		@include tablet-xs {
			margin-top: 15px;
		}
	}
}
