.inline-slider {
	position: relative;

    &__slide {
        width: unset !important;
    }
    
	&__nav-mask {
		position: absolute;
		display: flex;
		align-items: center;
		top: -5%;
		z-index: 999;
		height: 110%;
		width: 80px;
		opacity: 0;
		transition: opacity 0.3s ease;
		background: linear-gradient(270deg, $color-white 45%, rgba($color-white, 0));
		
		@include tablet {
			width: 60px;
		}

		@include mobile-l {
			display: none;
		}

		&--left {
			left: 0;
			transform: translateX(-50%) rotate(180deg);
		}

		&--right {
			right: 0;
			transform: translateX(50%);
		}

		&--visible {
			opacity: 1;			
		}
	}

	&__nav-btn {
		width: 40px;
		height: 100%;
		border: none;
		background: none;
		margin-left: auto;
		outline: none;
	}
}