.inline-slider {
    &__slide {
        width: unset !important;
    }
    
	&__nav-mask {
		position: absolute;
		display: flex;
		align-items: center;
		top: -5%;
		z-index: 999;
		height: 110%;
		width: 210px;
		opacity: 0;
		transition: opacity 0.3s ease;	
		
		@include tablet-xs {
			width: 100px;
		}

		@include mobile-l {
			display: none;
		}

		&--left {
			width: 50px;
			left: 2.77777778vw;
			transform: rotate(180deg);
			
			@include tablet {
				left: -30px;
			}
		}

		&--right {
			background: linear-gradient(270deg, $color-gray-light6 45%, rgba($color-gray-light6, 0));
			right: -2px;
		}

		&--visible {
			opacity: 1;			
		}
	}

	&__nav-btn {
		width: 40px;
		height: 100%;
		border: none;
		background: none;
		margin-left: auto;
		outline: none;
	}
}