.logo-duplicate {
	position: absolute;
    display: none;
    height: 32px;
    margin-top: 23px;
    filter: grayscale(100%) invert(100%) contrast(15);
    z-index: 1;

	@include mobile-l {
		display: block;
	}
}
