.row {
    display: flex;
    margin: -30px -30px 0 0;

    &--tablet-column {
        @include tablet {
            flex-direction: column;
        }
    }

    &--xs-column {
        @include tablet-xs {
            flex-direction: column;
        }
    }

    &--justify-center {
        justify-content: center;
    }

    &--wrap {
        flex-wrap: wrap;
    }

    &__col {
        padding: 30px 30px 0 0;

        &--md-2 {
            flex: 0 0 16.6666667%;
        }

        &--md-3 {
            flex: 0 0 25%;
        }

        &--md-4 {
            flex: 0 0 33.3333333%;
        }

        &--md-5 {
            flex: 0 0 41.6666667%;            
        }

        &--md-6 {
            flex: 0 0 50%;            
        }

        &--md-8 {
            flex: 0 0 66.6666667%;            
        }

        &--md-9 {
            flex: 0 0 75%;            
        }

        &--md-10 {
            flex: 0 0 83.3333333%;            
        }

        &--tablet-12 {
            @include tablet {
                flex: 0 0 100%;
            }
        }

        &--centered {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--xs-order-2 {
            @include tablet-xs {
                order: 2;
            }
        }
    }
}