.text {
    &--xl {
        font-weight: 700;
        font-size: 70px;
        line-height: 122.3%;

        @include laptop {
            font-size: 58px;
        } 

        @include tablet {
            font-size: 40px;
        } 

        @include mobile-l {
            font-size: 36px;
        } 
    
    }
    &--xl2 {
        font-size: 60px;
        line-height: 125%;

        @include laptop {
            font-size: 45px;
        } 

        @include tablet {
            font-size: 40px;
        } 

        @include mobile-l {
            font-size: vw(30px, 425px);
            line-height: 115%;
        } 
    }
    
	&--l {
        font-weight: 500;
        font-size: 50px;
        line-height: 110%;

        @include laptop {
            font-size: 45px;
        }

        @include tablet {
            font-size: 40px;
        }

        @include mobile-l {
            font-size: 30px;
        }
    }

	&--l2 {
        font-size: 40px;
        line-height: 122.3%;

        @include laptop {
            font-size: 35px;
        }

        @include tablet {
            font-size: 30px;
        }

        @include mobile-l {
            font-size: 25px;
        }
    }
    
	&--m, &--m2 {
        font-size: 30px;

        @include laptop {
            font-size: 26px;
        }

        @include tablet {
            font-size: 22px;
        }

        @include mobile-l {
            font-size: 20px;
        }
    }
    
	&--m {
        line-height: 123.333333%;

        @include mobile-l {
            line-height: 150%;
        }
    }
    
	&--m2 {
        line-height: 150%;
	}
    
	&--m3 {
        font-size: 25px;
        line-height: 125%;

        @include laptop {
            font-size: 22px;
        }

        @include tablet {
            font-size: 20px;
        }

        @include mobile-l {
            font-size: 18px;
        }
	}
    
	&--s {
        font-size: 20px;
        line-height: 150%;

        @include tablet {
            font-size: 18px;
            line-height: 160%;
        }

        @include tablet-xs {
            font-size: 16px;
            line-height: 160%;
        }

        @include mobile-l {
            font-size: 14px;
            line-height: 160%;
        }
	}
    
	&--s2 {
        font-size: 20px;
        line-height: 122%;

        @include tablet {
            font-size: 18px;
        }

        @include tablet-xs {
            font-size: 16px;
        }

        @include mobile-l {
            font-size: 14px;
        }
	}
    
	&--s3 {
        font-size: 16px;
        line-height: 150%;

        @include tablet-xs {
            font-size: 14px;
        }
	}
    
	&--xs {
        font-size: 14px;
        line-height: 122.285714%;
	}
    
	&--xs2 {
        font-size: 12px;
        line-height: 122.333333%;
	}
    
	&--xs3 {
        font-size: 14px;
        line-height: 150%;
	}

    &--bold {
        font-weight: 500;
    }

    &--bold700 {
        font-weight: 700;
    }

    &--link {
        display: flex;
        align-items: center;
        color: $color-blue;

        &::after {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            margin-bottom: -4px;
            background: url("../images/sprite.svg#about-next-link") no-repeat center;
            background-size: cover;
        }
    }

    &--dashed-link {
        text-decoration: none;
        padding-bottom: 0;
        color: $color-blue;
        background-image: linear-gradient(90deg, $color-blue, $color-blue 7px, rgba($color-blue, 0), rgba($color-blue, 0) 0);
        background-size: 10px 2px;
    }

    &--normalzed {
        font-weight: unset;
    }

    &--center {
        text-align: center;
    }
}
