.text {
    &--xl {
        font-weight: 700;
        font-size: 70px;
        line-height: 122.3%;

        @include laptop {
            font-size: 58px;
        } 

        @include tablet {
            font-size: 40px;
        } 

        @include mobile-l {
            font-size: 36px;
        } 
    }
    
	&--l {
        font-weight: 500;
        font-size: 50px;
        line-height: 110%;

        @include laptop {
            font-size: 45px;
        }

        @include tablet {
            font-size: 40px;
        }

        @include mobile-l {
            font-size: 30px;
        }
    }
    
	&--m {
        font-size: 30px;
        line-height: 123.333333%;

        @include laptop {
            font-size: 26px;
        }

        @include tablet {
            font-size: 22px;
        }

        @include mobile-l {
            font-size: 20px;
            line-height: 150%;
        }
	}
    
	&--s {
        font-size: 20px;
        line-height: 150%;

        @include mobile-l {
            font-size: 18px;
            line-height: 160%;
        }
	}
    
	&--xs {
        font-size: 14px;
        line-height: 122.285714%;
	}

    &--bold {
        font-weight: 500;
    }

    &--link {
        display: flex;
        align-items: center;
        color: $color-blue;

        &::after {
            content: "";
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            background: url("../images/sprite.svg#about-next-link");
        }
    }

    &--dashed-link {
        text-decoration: none;
        padding-bottom: 0;
        color: $color-blue;
        background-image: linear-gradient(90deg, $color-blue, $color-blue 7px, rgba($color-blue, 0), rgba($color-blue, 0) 0);
        background-size: 10px 2px;
    }
}
