.video-background {
	position: fixed;
	transform: translateX(-50%);
	left: 50%;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
    pointer-events: none;
    animation: fadeIn 1.5s cubic-bezier(0.75, 0, 1, 1);

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}
}
