.programs {
	padding: 75px 0 100px 0;

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, 315px);
		grid-row-gap: 60px;
		grid-column-gap: 30px;

		@include laptop {
			grid-column-gap: 20px;
			grid-template-columns: repeat(auto-fit, 30%);
		}

		@include tablet {
			grid-column-gap: 20px;
			grid-template-columns: 1fr 1fr;
		}

		@include tablet {
			grid-row-gap: 30px;
			grid-template-columns: unset;
		}
	}

	&__point {
		width: 27px;
		height: 27px;
		border-radius: 50%;

		&--even {
			background-color: #1488cc;
		}

		&--odd {
			background-color: #283cb5;
		}
	}

	&__text {
		margin-top: 14px;
		font-size: 20px;
		line-height: 25px;
	}
}
