.programs-carousel {
	$p: &;

	margin-top: 100px;
	margin-bottom: 50px;

	&__slider {
		overflow: visible;
	}

	&__slides {
		display: flex;
	}

	&__slide-wrp {
		width: 690px;
		height: 437px;

		&.swiper-slide-active {
			#{$p}__slide {
				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
			}
		}
	}

	&__slide {
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		height: 390px;
		border-radius: 6px;
		background-color: $color-white;
		transform: skewY(-3.826deg);
		transform-origin: right;
	}

	&__content,
	&__img {
		flex-shrink: 0;
	}

	&__content {
		transform: skewY(3.826deg);
		transform-origin: left;
		padding: 20px 30px;
		max-width: 315px;
		box-sizing: content-box;
	}

	&__img {
		height: 107%;
		width: 315px;
		object-fit: cover;
		flex-shrink: 0;
		transform-origin: inherit;
		transform: skewY(3.826deg);
	}

	&__tag {
		display: inline-block;
		padding: 7px 12px;
		border: 1px solid $color-gray-light2;
		border-radius: 2px;
		font-weight: 500;
		font-size: 15px;
		line-height: 15px;
		text-align: center;
		color: $color-blue;
	}

	&__title,
	&__start,
	&__speakers {
		color: $color-gray;
	}

	&__title {
		margin-top: 22px;
		font-weight: 500;
		font-size: 26px;
		line-height: 30px;
	}

	&__start {
		margin-top: 18px;
	}

	&__speakers {
		margin-top: 21px;
	}

	&__start,
	&__speakers {
		font-size: 14px;
		line-height: 20px;
	}

	&__start-date,
	&__speaker {
		font-weight: 500;
	}

	&__slide-btn {
		margin-top: 28px;
	}

	&__btn {
		width: 12px;
		height: 24px;
		background: url("../images/svg/icon-prev-arrow-gray.svg") no-repeat
			center;
		border: none;

		&--next {
			transform: rotate(180deg);
		}
	}

	&__dots {
		display: flex;
		justify-content: center;
		margin-top: 57px;
	}

	.swiper-pagination-bullet {
		$dot-size: 8px;

		cursor: pointer;
		width: $dot-size;
		height: $dot-size;
		border-radius: 50%;
		border: 2px solid $color-blue;
		margin: 0 19px;
		background-color: unset;
		opacity: unset;

		&.swiper-pagination-bullet-active {
			background-color: $color-blue;
		}
	}
}
