.programs-carousel {
	$p: &;

	&__line {
		max-width: 1400px;
		height: 510px;
		margin: 100px auto 50px auto;
		display: flex;
		align-items: center;

		@include laptop-l {
			max-width: 1170px;
		}

		@include tablet-s {
			height: unset !important;
			margin-top: unset;
		}
	}

	.swiper-container {
		max-width: 1270px;
		width: 100%;
		height: 100%;
	}

	.swiper-wrapper {
		width: 100%;
		height: 100%;
	}

	.swiper-slide-active {
		z-index: 1;

		#{$p}__inner-slide {
			box-shadow: 0 10px 20px $color-black-opacity10;
		}
	}

	.swiper-slide-next {
		transform: scale(0.8) translate(-85px, 0) !important;
	}

	.swiper-slide-prev {
		transform: scale(0.8) translate(430px) !important;

		#{$p}__inner-slide {
			transform-origin: right;
		}
	}

	.swiper-slide {
		max-width: 690px;
		width: 100%;
		font-size: 18px;
		display: flex;
		justify-content: center;
		transition: all 0.8s ease;

		&:not(.swiper-slide-active) {
			transform: scale(0.8);

			#{$p}__title {
				font-size: 22px;
				line-height: 27px;
			}
		}

		@include tablet {
			max-width: 562px;
		}

		@include tablet-s {
			transform: none !important;
			max-width: 100% !important;
		}
	}

	&__inner-slide {
		width: 100%;
		height: 437px;
		flex-shrink: 0;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		border-radius: 6px;
		background-color: $color-white;
		transform-origin: right;
		transform: skewY(-3.826deg);
		transition: all 0.8s ease;

		@include tablet-s {
			height: unset;
			transform: none;
			flex-direction: column;
			padding: 20px;
			box-sizing: border-box;
			box-shadow: none !important;
		}
	}

	&__content,
	&__img {
		flex-shrink: 0;
	}

	&__content {
		transform: skewY(3.826deg);
		transform-origin: left;
		padding: 20px 30px;
		max-width: 315px;
		box-sizing: content-box;
		transition: transform 0.8s ease;

		@include tablet-s {
			transform: none;
			order: 1;
			max-width: 100%;
			padding: 50px 0 0 0;
		}
	}

	&__img {
		height: 107%;
		width: 315px;
		object-fit: cover;
		flex-shrink: 0;
		transform-origin: inherit;
		transform: skewY(3.826deg);

		@include tablet-s {
			transform: skewY(-3.826deg);
			width: 100%;
			height: 40vw;
			border-radius: 6px;
		}
	}

	&__tag {
		text-decoration: none;
		display: inline-block;
		padding: 7px 12px;
		border: 1px solid $color-gray-light2;
		border-radius: 2px;
		font-weight: 500;
		font-size: 15px;
		line-height: 15px;
		text-align: center;
		color: $color-blue;

		@include tablet-s {
			display: none;
		}
	}

	&__title,
	&__start,
	&__speakers {
		color: $color-gray;
	}

	&__title {
		margin-top: 22px;
		font-weight: 500;
		font-size: 26px;
		line-height: 30px;
	}

	&__start {
		margin-top: 18px;
	}

	&__speakers {
		margin-top: 21px;
	}

	&__start,
	&__speakers {
		font-size: 14px;
		line-height: 20px;
	}

	&__start-date,
	&__speaker {
		font-weight: 500;
	}

	&__slide-btn {
		margin-top: 28px;

		transition: padding 0.4s ease;
		position: relative;

		&:hover {
			padding-right: 70px;

			.button__icon {
				opacity: 1;
			}
		}

		.button__icon {
			opacity: 0;
			position: absolute;
			right: 18px;
			transition: opacity 0.8s ease;
		}
	}

	&__btn {
		height: 100%;
		width: 12px;
		background: url("../images/svg/icon-prev-arrow-gray.svg") no-repeat
			center;
		border: none;
		padding: 0 30px;
		flex-shrink: 0;
		outline: none;

		&--next {
			transform: rotate(180deg);
		}

		@include laptop {
			display: none;
		}
	}

	&__dots {
		display: flex;
		justify-content: center;
		margin-top: 57px;

		@include tablet-s {
			justify-content: unset;
			padding: 0 10px;
		}
	}

	&__dot {
		$dot-size: 8px;

		cursor: pointer;
		width: $dot-size;
		height: $dot-size;
		border-radius: 50%;
		border: 2px solid $color-blue;
		margin: 0 19px;
		background-color: unset;
		opacity: unset;

		&.swiper-pagination-bullet-active {
			background-color: $color-blue;
		}
	}
}
