include news-card

-
    const articles = [
        {
            img: "https://loremflickr.com/640/400",
            title: "Международной Федерации коучинга ICF — 25 лет.",
            description: "В этом юбилейном для ICF году праздник российского подразделения!<br>1 сентября ICF Russia Chapter исполнилось 15 лет!",
            date: "1 сентября"
        },
        {
            img: "https://loremflickr.com/500/400",
            title: "Изменения в ICP Centre",
            description: "Это очень важный пост о больших переменах. Он касается каждого, кому интересна не только история ICP Centre, но и российского коучинга в целом. ",
            date: "30  августа"
        },
        {
            img: "https://loremflickr.com/350/250",
            title: "ICP Centre Объединяет мир, весна 2020",
            description: "Один раз в год мы делаем сверку количества стран, в которых живут наши студенты и выпускники.<br>Год назад насчитывалось 27 стран, в этом году на 11 страны больше!",
            date: "30  августа"
        },
        {
            img: "https://loremflickr.com/640/500",
            title: "ICP Centre Объединяет мир, весна 2020",
            description: "Один раз в год мы делаем сверку количества стран, в которых живут наши студенты и выпускники.<br>Год назад насчитывалось 27 стран, в этом году на 11 страны больше!",
            date: "30  августа"
        },
        {
            img: "https://loremflickr.com/640/401",
            title: "Международной Федерации коучинга ICF — 25 лет.",
            description: "В этом юбилейном для ICF году праздник российского подразделения!<br>1 сентября ICF Russia Chapter исполнилось 15 лет!",
            date: "1 сентября"
        },
        {
            img: "https://loremflickr.com/500/410",
            title: "Изменения в ICP Centre",
            description: "Это очень важный пост о больших переменах. Он касается каждого, кому интересна не только история ICP Centre, но и российского коучинга в целом. ",
            date: "30  августа"
        },
        {
            img: "https://loremflickr.com/350/260",
            title: "ICP Centre Объединяет мир, весна 2020",
            description: "Один раз в год мы делаем сверку количества стран, в которых живут наши студенты и выпускники.<br>Год назад насчитывалось 27 стран, в этом году на 11 страны больше!",
            date: "30  августа"
        },
        {
            img: "https://loremflickr.com/640/530",
            title: "ICP Centre Объединяет мир, весна 2020",
            description: "Один раз в год мы делаем сверку количества стран, в которых живут наши студенты и выпускники.<br>Год назад насчитывалось 27 стран, в этом году на 11 страны больше!",
            date: "30  августа"
        },
        {
            img: "https://loremflickr.com/640/409",
            title: "Международной Федерации коучинга ICF — 25 лет.",
            description: "В этом юбилейном для ICF году праздник российского подразделения!<br>1 сентября ICF Russia Chapter исполнилось 15 лет!",
            date: "1 сентября"
        },
        {
            img: "https://loremflickr.com/500/420",
            title: "Изменения в ICP Centre",
            description: "Это очень важный пост о больших переменах. Он касается каждого, кому интересна не только история ICP Centre, но и российского коучинга в целом. ",
            date: "30  августа"
        },
        {
            img: "https://loremflickr.com/350/259",
            title: "ICP Centre Объединяет мир, весна 2020",
            description: "Один раз в год мы делаем сверку количества стран, в которых живут наши студенты и выпускники.<br>Год назад насчитывалось 27 стран, в этом году на 11 страны больше!",
            date: "30  августа"
        },
        {
            img: "https://loremflickr.com/640/503",
            title: "ICP Centre Объединяет мир, весна 2020",
            description: "Один раз в год мы делаем сверку количества стран, в которых живут наши студенты и выпускники.<br>Год назад насчитывалось 27 стран, в этом году на 11 страны больше!",
            date: "30  августа"
        }
    ] 

.news-list
    .container
        h1.text.text--l Новости
        ul.news-list__list
            each article in articles
                li.news-list__item
                    +newsCard(article.img, article.title, article.description, article.date, "#")
        