// COLORS
$color-black: #000;
$color-white: #fff;
$color-white-opacity10: rgba(255, 255, 255, 0.1);

$color-blue: #1488cc;
$color-blue2: #283cb5;

$color-gray-light: #F5F5F5;
$color-gray-light2: #d8d8d8;

// FONTS
$font-family-formular: Formular;
