// COLORS
$color-black: #000;
$color-black-opacity05: rgba(0, 0, 0, 0.05);
$color-black-opacity10: rgba(0, 0, 0, 0.1);

$color-white: #fff;
$color-white-opacity10: rgba(255, 255, 255, 0.1);

$color-blue: #1488cc;
$color-blue2: #283cb5;
$color-blue3: #446EAC;
$color-blue4: #44C1BB;
$color-blue5: #1EAAD7;

$color-gray: #3c3e3f;
$color-gray2: #252E37;

$color-gray-light: #f5f5f5;
$color-gray-light2: #d8d8d8;
$color-gray-light3: #36C1BB;

$color-orange: #FD9E53;

$color-green: #6FC18E;
$color-green-light: #B3CB8E;
$color-green-light2: #b3cb4d;

$color-yellow: #EDEE66;

// FONTS
$font-family-formular: Formular;
