// COLORS
$color-black: #000;
$color-black2: #24273F;;
$color-black-opacity05: rgba(0, 0, 0, 0.05);
$color-black-opacity10: rgba(0, 0, 0, 0.1);

$color-white: #fff;
$color-white-opacity10: rgba(255, 255, 255, 0.1);

$color-blue: #1488cc;
$color-blue2: #283cb5;
$color-blue3: #446EAC;
$color-blue4: #44C1BB;
$color-blue5: #1EAAD7;
$color-blue6: #78EEE9;
$color-blue7: #3e50bc;
$color-blue8: #4db0b8;
$color-blue9: #2066AF;
$color-blue10: #69ACD2;
$color-blue11: #71B0D6;
$color-blue12: #2adde3;

$color-gray: #3c3e3f;
$color-gray2: #252E37;
$color-gray3: #7D8796;

$color-gray-light: #f5f5f5;
$color-gray-light2: #d8d8d8;
$color-gray-light3: #36C1BB;
$color-gray-light4: #cccccc;
$color-gray-light5: #979797;
$color-gray-light6: #FAF8F6;
$color-gray-light7: #FAF8F5;
$color-gray-light8: #C6D1D8;
$color-gray-light10: #4DB0B8;

$color-orange: #FD9E53;
$color-orange2: #e8a700;
$color-orange3: #6fc44d;
$color-orange4: #E39700;

$color-green: #6FC18E;
$color-green2: #269A68;

$color-green-light: #B3CB8E;
$color-green-light2: #b3cb4d;
$color-green-light3: #6cd3a5;
$color-green-light4: #51CD96;

$color-yellow: #EDEE66;

$color-red: #921E3A;

// FONTS
$font-family-formular: Formular;
