.schedule-chips {
    margin-top: 30px;

    &__link {
        color: $color-blue;
        text-decoration: none;
        background-image: linear-gradient(90deg, $color-blue, $color-blue 7px, rgba($color-blue, 0), rgba($color-blue, 0) 0); 
    }
}