@import "../utils/variables";
@import "../utils/breakpoints";
@import "../utils/helpers";

@import "../components/common/form";
@import "../components/common/checkbox";

.forms-participation {
    display: flex;

    @include tablet {
        flex-direction: column;
        max-height: 90vh;
    }

    &__col {
        @include tablet {
            width: 100% !important;
        }        

        &--left {
            padding: 90px 0 30px 30px;
            background-color: $color-blue3;

            @include tablet("min") {
                width: 420px;                
            }
            
            @include tablet {
                padding-top: 30px;
                height: 24px;
                box-sizing: content-box;
                flex-shrink: 0;
            }

            @include tablet-xs {
                padding: 20px;
            }
        }

        &--right {
            position: relative;
            overflow: auto;
        }
    }

    &__form {
        padding: 90px 70px 30px 30px;

        @include tablet {
            padding: 30px;
        }

        @include tablet-xs {
            padding: 20px;
        }
    }

    &__submit-btn {
        margin-top: 40px;

        @include tablet-xs {
            margin-top: 20px;
        }
    }

    &__consent {
        margin-top: 26px;
    }
}