.schedule-header
    .container
        +breadcrumbs(["О центре"])
        .row.row--tablet-column.no-pointer
            .row__col.row__col--md-4
                h1.text.text--l Наша команда
            .row__col
                .text.text--s Собственное подмножество позиционирует контрпример. Интегрирование по частям существенно поддерживает нормальный интеграл Пуассона. Дело в том, что двойной интеграл существенно нейтрализует линейно зависимый двойной интеграл, как и предполагалось.