extends ../../layouts/default

block styles
    link(rel="stylesheet" href!="https://unpkg.com/swiper/swiper-bundle.min.css")
    link(rel="stylesheet" href!=`${baseDir}css/main.css?v=${Date.now()}`)
block content
    .home
        .home__group.home__group--first
            .container
                include particles/start-screen
        .home__group.home__group--blur-overlay
        .home__group.home__group--video
            .container
                include particles/video-block
        .home__group
            .container
                include particles/programs
                include particles/strengths
                include particles/stats
        .home__group
            include particles/trapezoid
        .home__group
            include particles/programs-carousel
block scripts
    script(src!="https://unpkg.com/swiper/swiper-bundle.min.js")
    script(src!=`${baseDir}js/home.js?v=${Date.now()}`)
