extends ../../layouts/default

block styles
    link(rel="stylesheet" href!="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css")
    link(rel="stylesheet" href!=`${baseDir}css/main.css?v=${Date.now()}`)
block content
    .home
        .home__group.home__group--first
            .container
                include particles/start-screen
        .home__group.home__group--blur-overlay
        .home__group.home__group--video
            .container
                include particles/video-block
        .home__group
            .container
                include particles/programs
                include particles/strengths
                include particles/stats
block scripts
    script(src!="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js")
    script(src!=`${baseDir}js/home.js?v=${Date.now()}`)
