include ./membership-graph

-
    const graphItems = [
        {
            point: true,
            date: "1999",
            title: "Воспитание отталкивает депрессивный гештальт.",
            additional: {
                link: "Подробнее"
            },
            children: [
                {
                    point: true,
                    date: "2000",
                    title: "Воспитание притягивает закон.",
                    additional: {
                        img: {
                            src: "",
                            text: "Изображение которое можно увеличить"
                        }
                    }
                }
            ]
        },
        {   
            fill: true,
            date: "2002",
            title: "Что-то важное что надо выделить",
            additional: {
                description: "Большую роль в популяризации психодрамы сыграл институт социометрии, который предсознательное неустойчиво начинает аутотренинг, тем не менее как только ортодоксальность окончательно возобладает, даже эта маленькая лазейка будет закрыта."
            },
            children: [
                {
                    point: true,
                    date: "2005",
                    title: "Бессознательное понимает страх",
                    additional: {
                        link: "Новость об этом"
                    }
                },
                {
                    point: true,
                    date: "2002",
                    title: "Роджерс определял терапию как, установка концептуально отчуждает институциональный гештальт."
                }
            ]
        }
    ]

.membership-russia
    .container.membership-russia__container
        h2.text.text--l ICF в России
        .membership-russia__content
            .membership-russia__text
                p.text.text--s Ассоциация психологически понимает гештальт. Автоматизм непоследовательно иллюстрирует феноменологический субъект.
                    br
                    br
                    | Интеракционизм, согласно традиционным представлениям, мгновенно дает экзистенциальный интеракционизм. Мышление последовательно вызывает эгоцентризм.
            .membership-russia__graph
                +membership-graph(graphItems)