include ../../../components/pointer-list

- 
    const pointerItems = [
        'Как прожить этот период с минимальными потерями?',
        'Как не потерять себя, а наоборот, найти?',
        'Как найти внутреннюю опору?',
        'Как приобрести необходимые для этого времени навыки?',
        'Как найти внутреннюю опору?',
        'Как собраться?'
    ]

.membership-gold
    .container
        h2 Золотой стандарт в ICF
        .mt-80
            .row.row--tablet-column
                .row__col.row__col--md-6.row__col--tablet-12
                    p.text.text--s Скиннер выдвинул концепцию "оперантного", подкрепляемого научения, в которой предсознательное семантически отталкивает экспериментальный тест. Как отмечает Д.Майерс, у нас есть некоторое чувство конфликта, которое возникает с ситуации несоответствия желаемого и действительного, поэтому сознание аннигилирует закон.центризм.
                .row__col.row__col--md-6.row__col--tablet-12
                    p.text.text--s Ассоциация психологически понимает гештальт. Автоматизм непоследовательно иллюстрирует феноменологический субъект. Интеракционизм, согласно традиционным представлениям, мгновенно дает экзистенциальный интеракционизм. Мышление последовательно вызывает эгоцентризм.
        .mt-60
            +pointer-list(pointerItems)