include ../../../components/center-block
include ../../../components/gradient-text

.membership-epilog
    .container
        +center-block
            +gradient-text.text.text--l3
                | ICP Centre — официальный провайдер стандартов ICF в России. Все наши программы аккредитованы Федерацией.
                br
                br
                | Мы предлагаем людям войти в профессию, поддерживаем их в обучении ключевым коучинговым компетенциям и помогаем пройти сертификацию