-
    const stats = [
        {
            title: '35,000+ ',
            description: 'Ассоциация психологически',
            color: 'blue'
        },
        {
            title: '29,000+ ',
            description: 'Ассоциация психологически',
            color: 'yellow'
        },
        {
            title: '140+',
            description: 'Мышление последовательно',
            color: 'blue'
        }
    ]

.membership-first
    .container
        .row.row--s1-col-reverse
            .row__col.row__col--md-8.row__col--s1-12
                p.text.text--m Скиннер выдвинул концепцию "оперантного", подкрепляемого научения, в которой предсознательное семантически отталкивает экспериментальный тест. Как отмечает Д.Майерс, у нас есть некоторое чувство конфликта, которое возникает с ситуации несоответствия желаемого и действительного, поэтому сознание аннигилирует закон.
                p.mt-30.text.text--s Скиннер выдвинул концепцию "оперантного", подкрепляемого научения, в которой предсознательное семантически отталкивает экспериментальный тест. Как отмечает Д.Майерс, у нас есть некоторое чувство конфликта, которое возникает с ситуации несоответствия желаемого и действительного, поэтому сознание аннигилирует закон.
            .row__col.row__col--md-4.row__col--s1-12
                +svg('icf-logo', 'membership').membership-first__logo
        ul.membership-first__stats
            each item in stats
                li.membership-first__stats-item
                    p.membership-first__stats-title(class=`membership-first__stats-title--${ item.color }`)= item.title
                    p.membership-first__stats-description= item.description
        p.mt-60.text.text--s Ассоциация психологически понимает гештальт. Автоматизм непоследовательно иллюстрирует феноменологический субъект. Интеракционизм, согласно традиционным представлениям, мгновенно дает экзистенциальный интеракционизм. Мышление последовательно вызывает эгоцентризм.