.membership-wave
    .membership-wave__block.membership-wave__block--top
        include ./membership-header
        include ./membership-first
    .membership-wave__block.membership-wave__block--bottom
        include ./membership-gold
        svg.membership-wave__svg
            clipPath(id="wave" clipPathUnits="objectBoundingBox" transform="scale(0.000694444444, 0.00149031297)")
                path(d="M4.6802e-05 32.0286C361 -66.4892 1077 100.119 1440 32.0286C1440 121.74 1440 671 1440 671H4.6802e-05C4.6802e-05 671 -5.85025e-05 158.358 4.6802e-05 32.0286Z")