.education-online {
	$p: &;

	padding: 175px 0 60px 0;
	background-color: $color-blue12;
	color: $color-white;
	clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);
	margin-top: -50px;

	&__row {
		display: flex;

		@include laptop {
			flex-direction: column;
		}
	}

	&__col {
		&--left {
			flex-basis: 640px;
			margin-right: 50px;
			min-width: 0;

			@include laptop {
				flex-basis: unset;
				margin-right: 0;
			}
		}

		&--right {
			margin-left: auto;
			flex-basis: 660px;

			@include laptop {
				flex-basis: unset;
				margin: 50px 0 0 0;
			}
		}
	}

	&__slider-wrp,
	&__thumbs {
		margin-left: -65px;

		@include laptop {
			margin: 0;
		}
	}

	&__slide-img {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
		max-height: 765px;
		border-radius: 20px;
	}

	&__thumbs {
		margin-top: 70px;
	}

	&__thumbs-description {
		margin-top: 1em;
	}

	&__thumbs-card {
		padding-left: 65px;

		@include laptop {
			padding-left: 0;
		}
	}

	&__thumbs-step {
		font-weight: 500;
		font-size: 25px;
		line-height: 124%;
	}

	&__title {
		@include laptop {
			margin-bottom: 70px;
		}

		@include tablet {
			margin-bottom: 50px;
		}
	}

	&__buttons {
		position: absolute;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
		display: flex;
		justify-content: space-between;
	}

	&__btn {
		width: 12px;
		height: 24px;
		display: block;
		border: none;
		outline: none;
		background: transparent url(../images/common.svg#icon-prev-arrow-gray)
			no-repeat center;
		background-size: 12px;
		padding: 20px;
		box-sizing: content-box;

		&--prev {
			@include desktop {
				margin-left: 20px;
			}

			@include laptop {
				margin-left: 0;
			}
		}

		&--next {
			transform: rotate(180deg);
		}
	}
}
