section.about-training
    .container
        h2.text.text--m.text--bold.mb-30 Обучение коучей
        .row.row--xs-column
            .row__col.row__col--xs-order-2
                p.text.text--s Компания была основана в 2015 году как центр обучения профессиональному коучингу. ICP Centre попал в число первых официальных российских провайдеров, помогающих подготовиться к сертификации ICF — вплоть до уровня MCC.
                    br
                    br
                    | Основа этого направления — большая авторская программа «Полный курс коучинга». Со временем были открыты школы профессиональных фидбек-коучей, менторов и супервизоров и внутренний институт обратной связи. Сегодня Центр помогает развитию коучей любого уровня подготовки.
            .row__col.row__col--md-4.row__col--centered
                img(src="images/sprite.svg#about-training", alt="Обучение коучей").about-icon