section.about-lifelong
    .container
        p.text.text--xs.text--bold Парадигма lifelong-learning
        h2.about-lifelong__title.text.text--xl lifelong—learning
        .mt-30
            .row.row--xs-column
                .row__col.row__col--md-6
                    p.text.text--s К осени 2020 года Центр окончательно сформировался как lifelong-learning платформа со многими точками входа для практически любого человека с любым запросом на развитиеи персональную или профессиональную эволюцию. 
                        br
                        br
                        | ICP Centre пошел дальше других крупных игроков рынка — проект концептуально выстроен вокруг стандартов не только ICF, но и EMCC, ICAgile и профессионального этического кодекса.
                .row__col.row__col--md-6
                    p.text.text--s Все программы и продукты Центра, ролевая и бизнес-модель команды основаны на трех ключевых принципах — профессионализм, содействие эволюции и человечность. 
                        br
                        br
                        | Каждый из членов команды выступает амбассадором коучинговых компетенций. Каждый студент на время обучения погружается в цельную среду, наблюдая, как работают люди, команды и бизнесы, построенные на коучинговой модели мышления.