section.about-reviews
    .container
        .double-block
            aside.about-reviews__aside.double-block__aside
                h3.about-reviews__title.double-block__title Отзывы выпускников
            .about-reviews__content.double-block__content.double-block__content--narrow
                .about-reviews__slider.swiper-container
                    ul.about-reviews__slides.swiper-wrapper
                        each val in [1, 2, 3, 4, 5]
                            li.about-reviews__slide.swiper-slide
                                p.text.text--s Эта уникальная программа раскрыла глубокий и безграничный мир коучинга во всей его красоте и богатстве, позволила мне раскрыть свои потенциальные возможности, овладеть 11 компетенциями коуча, почувствовать уверенность и желание развиваться и совершенствоваться.
                                    br
                                    br
                                    |  Высокопрофессиональная команда ICP центра очень качественно, системно, экологично сопровождает каждого студента на его индивидуальном маршруте обучения. Благодарность всем преподавателям, ассистентам, менторам за поддержку и веру в возможности каждого!
                                .about-reviews__author
                                    .about-reviews__author-info
                                        .about-reviews__avatar
                                            img(src="images/jpg/elon.jpg").about-reviews__avatar-img
                                        p.about-reviews__name Марина Жигулина         
                                    p.about-reviews__author-description.text.text--xs Прошла программу Agile-коучинг         
                    ul.about-reviews__dots