section.about-online
    .container
        .row
            .row__col.row__col--md-10.row__col--tablet-12.mx-auto
                h2.about-online__title.text.text--m.text--bold Онлайн-обучение
                p.text.text--s.mt-30 ICP Centre задумывался в первую очередь как центр дистанционного обучения коучингу. Команда проекта — это специалисты из нескольких десятков городов. Поэтому онлайн-инструменты интегрированы во все процессы и саму среду обучения. Это позволило Центру быстро вырасти до международного уровня — сегодня ICP Centre работает с русскоязычным пространством 32 стран. При этом все программы доступны очно для студентов в городах присутствия компании — Санкт-Петербурге, Москве и Екатеринбурге.
                a(href="#").text.text--s.text--link.mt-30 Все представительства ICP Centre
