section.about-development
    .container
        .row.row--xs-column
            .row__col.row__col--md-4.row__col--centered
                img(src="images/sprite.svg#about-development", alt="Обучение коучей").about-icon.about-title__img
            .row__col
                h2.text.text--m.text--bold.mb-30.about-title Программы развития компаний
                    br
                    | и персонального развития
                p.text.text--s Программы центра разбиты на 6 направлений обучения, включая коучинг для организаций и бизнес-лидеров, agile-коучинг, программы развития для специалистов в сфере образования и несколько универсальных программ развития коучинговых компетенций для широкой аудитории. 
                a(href="#").text.text--s.text--link.mt-30 Все программы ICP Centre