section.about-ecosystem
    .container
        .row
            .row__col.row__col--md-10.row__col--tablet-12.mx-auto
                .row.row--xs-column
                    .row__col.row__col--md-4
                        img(src="images/sprite.svg#about-ecosystem", alt="Экосистема").about-icon.about-title__img
                    .row__col
                        h2.text.text--m.text--bold.mb-30.about-title Экосистема
                        p.text.text--s ICP Centre инициирует научные коллаборации со специалистами в сфере нейронаук, психологии, социологии и образования, выпускает книги, организует открытые публичные мероприятия и занимается популяризацией профессионального коучинга.
