section.about-start
    .container
        .flex-block
            .flex-block__col.flex-block__col--md-3
                h1.text.text--l О&nbsp;центре
            .flex-block__col
                p.text.text--m ICP Centre — один из крупнейших в Восточной Европе центров развития, изучения и популяризации коучинговых компетенций. Масштабный проект от команды сертифицированных российских коучей, в том числе лидеров Северо-Западного бранча ICF Russia.
                    br
                    br
                    | Программы Центра ориентированы на обучение гибким гибридным подходам в управлении, на профессиональное и персональное развитие. 
