.home {
	&__group {
		&--first,
		&--video {
			color: $color-white;
		}

		&--first {
			padding-top: 300px;
			background: $color-black
				url("../images/png/start-screen-background.png") no-repeat;
			background-attachment: fixed;
			background-size: 100%;

			@include laptop {
				background-size: cover;
				padding-top: 240px;
				background-position-x: center;
			}

			@include tablet {
				padding-top: 122px;
			}
		}

		&--video {
			background-color: $color-blue;
		}

		&--blur-overlay {
			background-color: $color-black;
			height: 160px;
		}
	}

	&__title {
		margin-top: 105px;

		@include laptop {
			margin-top: 84px;
		}
		
		@include tablet {
			margin-top: 210px;
		}
	}

	&__subtitle {
		br {
			@include laptop {
				display: none;
			}
		}

		@include tablet {
			font-size: 25px;
			line-height: 31px;
		}
	}

	&__start-line {
		position: relative;
		width: 100vw;
		margin: 48px 0 0 calc(-50vw + 50%);
		background: linear-gradient(
			0deg,
			#000000 0%,
			rgba(0, 0, 0, 0.0001) 100%
		);
		backdrop-filter: blur(20px);

		@include laptop {
			margin-top: 160px;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 100vw;
			height: 1px;
			background-color: $color-white-opacity10;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}
	}

	&__start-list {
		display: flex;
		justify-content: space-between;
		padding: 85px 0 40px 0;

		@include laptop {
			margin: -15px;
			padding: 24px 0 68px 0;
		}

		@include tablet {
			flex-wrap: wrap;
		}
	}

	&__start-list-item {
		width: 315px;
		padding: 15px;

		@include laptop {
			padding: 0 15px;
		}
	}

	&__start-list-text {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
	}

	$video-offset: 104px;

	&__video-block {
		height: 653px;
		padding-top: $video-offset;
	}

	&__video-poster {
		display: flex;
		align-items: center;
		width: 1120px;
		height: 672px;
		margin: 0 auto;
		background: url("../images/svg/home-video-block-poster.svg");
		box-shadow: 0px 25px 60px 15px rgba(0, 0, 0, 0.4);
		margin-top: -2 * $video-offset;
	}

	&__video-info {
		display: flex;
		align-items: center;
		margin-left: 112px;
	}

	&__video-title {
		font-weight: 900;
		font-size: 50px;
		line-height: 55px;
		text-transform: uppercase;
	}

	&__video-play-btn {
		width: 93px;
		height: 93px;
		margin-left: 40px;
		border-radius: 50%;
		border: 1px solid white;
		background: url("../images/svg/icon-play.svg") no-repeat center;

		&:focus {
			outline: 0;
		}
	}
}
