.home {
	padding: 300px 0 160px 0;
	background: $color-black url("../images/png/start-screen-background.png");
	background-attachment: fixed;
	background-size: cover;
	color: $color-white;

	&__title{
		margin-top: 105px;
	}

	&__start-line {
		position: relative;
		margin: 48px -45px 0;
		padding: 85px 45px 40px 45px;
		background: linear-gradient(
			0deg,
			#000000 0%,
			rgba(0, 0, 0, 0.0001) 100%
		);
		backdrop-filter: blur(20px);

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			width: 100vw;
			height: 1px;
			background-color: $color-white-opacity10;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}
	}

	&__start-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: -15px;
	}

	&__start-list-item {
		width: 315px;
		padding: 15px;
	}
	&__start-list-text {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
	}
}
