@import "../utils/variables";
@import "../utils/breakpoints";
@import "../utils/helpers";

@import "../layout/spaces";

@import "../components/common/breadcrumbs";
@import "../components/common/row";
@import "../components/common/underlined";
@import "../components/common/text";
@import "../components/common/button";

@import "../components/branches/branches-map";

.branches {
    padding: 216px 0 200px 0;

    @include tablet {
        padding: 100px 0 160px 0;
    }

    @include mobile-l {
        padding: 90px 0 60px 0;
    }
}
