@import "../utils/variables";
@import "../utils/breakpoints";
@import "../utils/helpers";

@import "../components/common/slider";
@import "../components/common/button";
@import "../components/common/title";
@import "../components/common/subtitle";
@import "../components/common/description";
@import "../components/common/double-block";
@import "../components/common/program-about";
@import "../components/common/underlined";

@import "../components/capabilities/capabilities-start-screen";
@import "../components/capabilities/capabilities-advantages";
@import "../components/capabilities/capabilities-about";
@import "../components/capabilities/capabilities-target";
@import "../components/capabilities/capabilities-changes";
@import "../components/capabilities/capabilities-allows";
@import "../components/capabilities/capabilities-program";
@import "../components/capabilities/capabilities-more";
@import "../components/capabilities/capabilities-stages";
@import "../components/capabilities/capabilities-schedule";
@import "../components/capabilities/capabilities-leading";
@import "../components/capabilities/capabilities-tariffs";
@import "../components/capabilities/capabilities-reviews";

.capabilities {
	overflow: hidden;
	
	&__group {
		&--first {
			position: relative;
			color: $color-white;
			background-color: $color-black;
		}

		&--target {
			min-height: 730px;
			padding-top: 150px;
			padding-bottom: 84px;
			margin-top: 38px;
			background: url(../images/svg/capabilities-target-background-2.svg)
					top repeat-x,
				url(../images/png/capabilities-target-background.png) right
					no-repeat,
				$color-gray2;
		}

		&--gray {
			padding-top: 48px;
			padding-bottom: 57px;
			background-color: $color-gray-light;
		}
	}

	&__background-wrp {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		// фикс обрезки видео
		transform: translate3d(0,0,0);

		@include desktop {
			height: unset;
		}

		@include tablet {
			height: 100%;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 300px;
			background-image: linear-gradient(
				to top,
				$color-black,
				rgba($color-black, 0)
			);
		}
	}
}
