@import "../utils/variables";
@import "../utils/breakpoints";
@import "../utils/helpers";

@import "../components/leading/leading-card";
@import "../components/leading/leading-content";
@import "../components/leading/leading-list";
@import "../components/leading/leading-history";
@import "../components/leading/leading-specialization";
@import "../components/leading/leading-block-list.scss";

.leading {
    padding: 216px 0 100px 0;

    @include tablet {
        padding-top: 100px;
    }

    @include mobile-l {
        padding-top: 90px;
    }
}
