@import "../utils/variables";
@import "../utils/breakpoints";
@import "../utils/helpers";

@import "../components/common/inline-slider";
@import "../components/common/media-card";

@import "../components/library/library-header";
@import "../components/library/library-kits";
@import "../components/library/library-videos";
@import "../components/library/library-podcasts";
@import "../components/library/library-books";

.library {
	padding-top: 216px;
    background-color: $color-black;

	@include tablet {
		padding-top: 100px;
	}

	@include mobile-l {
		padding-top: 90px;
	}

	&__substrate {
        padding-bottom: 100px;
        
		&--white {
			background-color: $color-white;
		}
	}

	.inline-slider__nav-mask--right {
		background: linear-gradient(
			270deg,
			$color-white 45%,
			rgba($color-white, 0)
		);
	}
}
