@import "../utils/variables";
@import "../utils/breakpoints";
@import "../utils/helpers";

@import "../layout/spaces";

@import "../components/common/row";
@import "../components/common/text";
@import "../components/common/button";
@import "../components/common/slider";

@import "../components/loyalty-program/loyalty-program-header";
@import "../components/loyalty-program/loyalty-program-rewards";

.loyalty-program {
    padding: 158px 0 100px;

    @include tablet {
        padding-top: 100px;
    }

    @include mobile-l {
        padding-top: 90px;
    }
}
