@import "../utils/variables";
@import "../utils/breakpoints";
@import "../utils/helpers";

@import "../components/common/slider";
@import "../components/common/underlined";
@import "../components/common/tabs";

@import "../components/loyalty-program/loyalty-program-header";
@import "../components/loyalty-program/loyalty-program-rewards";
@import "../components/loyalty-program/loyalty-program-spend";
@import "../components/loyalty-program/loyalty-program-advantages";
@import "../components/loyalty-program/loyalty-program-process";
@import "../components/loyalty-program/loyalty-program-registration";
@import "../components/loyalty-program/loyalty-program-courses";

.loyalty-program {
    padding: 158px 0 100px;

    @include tablet {
        padding-top: 100px;
    }

    @include mobile-l {
        padding-top: 90px;
    }
}
