@import "../utils/variables";
@import "../utils/breakpoints";
@import "../utils/helpers";

@import "../components/common/double-block";

.practice-pro {
    padding: 216px 0 100px 0;

    @include tablet {
        padding-top: 100px;
    }

    @include mobile-l {
        padding: 90px 0 0 0;
    }
}
