@import "../utils/variables";
@import "../utils/breakpoints";
@import "../utils/helpers";

@import "../layout/spaces";

@import "../components/common/row";
@import "../components/common/text";
@import "../components/common/button";

@import "../components/programs/programs-content";
@import "../components/programs/programs-list";
@import "../components/programs/programs-block";
@import "../components/programs/programs-card";

.programs {
    padding: 216px 0 100px 0;

    @include tablet {
        padding-top: 100px;
    }

    @include mobile-l {
        padding-top: 90px;
    }
}
