@import "../utils/variables";
@import "../utils/breakpoints";
@import "../utils/helpers";

@import "../components/common/scroll-loader";

@import "../components/reviews/reviews-list";
@import "../components/reviews/reviews-card";

.reviews {
    padding: 216px 0 100px 0;

    @include tablet {
        padding-top: 100px;
    }

    @include mobile-l {
        padding-top: 90px;
    }
}
