.hotline
    .container.hotline__container
        h3.hotline__title Горячая
            br
            |  линия
        .hotline__group
            p.hotline__description Волонтерский проект Международного Центра
                br
                |  Профессионального Коучинга ICP Centre.
            a.hotline__link
                +button("Подробнее", ["hotline__btn"], "size-normal", "color-white")