.hotline
    h3.hotline__title Горячая линия
    p.hotline__description Волонтерский проект Международного Центра
        br
        |  Профессионального Коучинга ICP Centre.
    a.hotline__link
        +button("Подробнее", ["hotline__btn"], "size-normal", "color-white")