mixin video-preview(img, title, videoSrc)
    label.video-preview&attributes(attributes)
        .video-preview__inner
            img(src=img alt="video preview").video-preview__img
            .video-preview__body
                span.video-preview__title !{ title }
                button(data-video=videoSrc data-video-name="Фестиваль коучинга в Анапе 1-4 октября 2018 года" data-modal-title="Меняем мир к лучшему").video-preview__play