-
    const mainItems = [
        {
            img: "https://loremflickr.com/490/270",
            title: "Набор медиа материалов по программе«Коучинг. Возможности без границ»",
            count: "12 материалов"
        },
        {
            img: "https://loremflickr.com/490/271",
            title: "Набор медиа материалов по программе«Cупер новое название»",
            count: "12 материалов"
        },
        {
            img: "https://loremflickr.com/490/272",
            title: "Набор медиа материалов по программе«Коучинг. Возможности без границ»",
            count: "12 материалов"
        },
        {
            img: "https://loremflickr.com/490/273",
            title: "Набор медиа материалов по программе«Cупер новое название»",
            count: "12 материалов"
        },
        {
            img: "https://loremflickr.com/490/274",
            title: "Набор медиа материалов по программе«Коучинг. Возможности без границ»",
            count: "12 материалов"
        },
        {
            img: "https://loremflickr.com/490/275",
            title: "Набор медиа материалов по программе«Cупер новое название»",
            count: "12 материалов"
        },
    ]

.library-kits
    .container
        ul.library-kits__list
            each item in mainItems
                li.library-kits__item
                    a(href="#").library-kits__card
                        img(src=item.img alt="library image").library-kits__img
                        .library-kits__info
                            h3.library-kits__title.text.text--s2= item.title
                            p.library-kits__count= item.count
        .library-kits__more
            +button("Загрузить ещё", [], "size-normal", "color-white")#library-kits__more-btn.library-kits__more-btn
                            
