.library-header
    .container
        +breadcrumbs(["Хлебная крошка, если страница третьего уровня"])
        .row.row--tablet-column.no-pointer
            .row__col
                h1.text.text--l Медиа библиотека