.programs.double-block
    aside.double-block__aside
        h3.double-block__title Что дают наши
            br
            |  программы обучения
    .double-block__content
        - var programs = ["Продвинуться в карьере и усилить свой бизнес", "Выйти из зоны комфорта и кардинально изменить свою жизнь в лучшую сторону", "Обрести ясность и понимание, куда расти и как менять свою жизнь", "Вывести привычный заработок и материальное положение на более высокий уровень", "Выстраивать эффективные коммуникации в корпоративном секторе", "Научиться еще лучше общаться с окружающими людьми и нарабатывать новые контакты"];
        ul.programs__list
            each program, i in programs
                li.programs__list-item
                    div(class=`programs__point--${(i+1)%2==0?'even':'odd'}`).programs__point
                    p.programs__text= program
