section.home__start-screen
    h2.subtitle.home__subtitle Один из крупнейших в Европе
        br
        |  международных центров обуения
        br
        |  с сертификацией ICF
    h1.title.home__title
        span.title__partial.title__partial--black КОУЧИНГ.&nbsp;
        span.title__partial.title__partial--medium БИЗНЕС.&nbsp;
        br
        span.title__partial.title__partial--italic ЭВОЛЮЦИЯ.
    include advantages


