section.home__start-screen
    h2.subtitle Один из крупнейших в Европе
        br
        | международных центров обуения
        br
        | с сертификацией ICF
    h1.title.home__title
        span.title__partial.title__partial--black.title__partial--inline КОУЧИНГ.&nbsp;
        span.title__partial.title__partial--medium.title__partial--inline БИЗНЕС.&nbsp;
        br
        span.title__partial.title__partial--italic ЭВОЛЮЦИЯ.
    .home__start-line
        .container
            ul.home__start-list
                li.home__start-list-item
                    span.home__start-list-text Развиваем специалистов в сфере образования
                li.home__start-list-item
                    span.home__start-list-text Содействуем персональной эволюции
                li.home__start-list-item
                    span.home__start-list-text Проводим подготовку профессиональных коучей
                li.home__start-list-item
                    span.home__start-list-text Помогаем создавать современный бизнес


