section.home__start-screen
    h2.subtitle Один из крупнейших в Европе международных центров обуенияс сертификацией ICF
    h1.title КОУЧИНГ. БИЗНЕС.
        span.title__italic ЭВОЛЮЦИЯ.
    .home__start-line
        ul.home__start-list
            li.home__start-list-item
                span.home__start-list-text Развиваем специалистов в сфере образования
            li.home__start-list-item
                span.home__start-list-text Содействуем персональной эволюции
            li.home__start-list-item
                span.home__start-list-text Проводим подготовку профессиональных коучей
            li.home__start-list-item
                span.home__start-list-text Помогаем создавать современный бизнес


