.trapezoid
    .trapezoid__distortion
        .trapezoid__circle-text
            include ../../../../images/svg/circle-text.svg
    .trapezoid__content
        h3.trapezoid__title Global Vision Coaching
        p.trapezoid__description Коучинговые компетенции для компаний и развитие бизнеса.
        button.trapezoid__btn Программа обучения для бизнеса