section.home__video-block
    .home__video-poster
        .home__video-info
            h3.home__video-title 101 секунда о том,
                br
                | как и чему мы учим
            button.home__video-play-btn