include ../../../components/video-preview

section.video-block
    .video-block__wrp
        +video-preview("images/svg/video-previews/default.svg", "101 секунда о том,<br>как и чему мы учим", "https://www.youtube.com/embed/N70RhicEoXY", "ICP CENTRE итоги года 2019", "101 секунда о том, как и чему мы учим")