.partners-partners {
	$p: &;
	
	&__list {
		display: flex;
		margin-top: 20px;

		@include tablet-xs("min") {
			flex-wrap: wrap;
			border: 1px solid $color-gray-light2;
			border-right: none;
			border-top: unset;
		}
	}

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 315px !important;
		min-width: 235px;

		@include tablet-xs("min") {
			flex-basis: 25%;
			flex-grow: 1;
			border-right: 1px solid $color-gray-light2;
			border-top: 1px solid $color-gray-light2;
		}
	}

	&__logo {
		max-height: 102px;
		max-width: 80%;
		object-fit: contain;
	}

	&__title {
		text-align: center;
	}

	&__dots {
		display: none;

		@include tablet-xs {
			display: flex;
			justify-content: center;
			margin: 0 auto;
		}
	}

	&__dots-item {
		&--active {
			#{$p}__dot {
				background-color: $color-blue;
			}
		}
	}

	&__dot {
		border-color: $color-blue;
	}
}
