mixin form-item(label, multiple = false)
    .form-item&attributes(attributes)
        if (label)
            .form-item__label= label
        .form-item__content(class=`${ multiple ? 'form-item__content--multiple' : '' }`)
            block