mixin modal(title)
    .modal&attributes(attributes)
        .modal__backdrop.modal__close-trigger
        .modal__window.modal__window--active
            .modal__header
                p.modal__title= title
                .modal__close-btn.modal__close-trigger
            .modal__content
                block