footer.footer
    include ../../components/hotline
    .footer__row.footer__row--contacts
        .container.footer__row-container.footer__row-container--fill
            .footer__col.footer__col--align-center
                a(href="mailto:info@icpcentre.org").footer__primary-link.footer__primary-link--email
                    span.footer__email-text info@icpcentre.org
                    .footer__email-icon
            .footer__col.footer__col--align-center.footer__col--phone
                a(href="tel:88005513531").footer__primary-link 8 800 551-35-31
            .footer__col.footer__col--align-center.footer__col--social
                - var socialList = [{icon: 'fa fa-facebook-f', link: '#'}, {icon: 'fa fa-vk', link: '#'}, {icon: 'fa fa-instagram', link: '#'}, {icon: 'fa fa-youtube-play', link: '#'}]
                ul.footer__social-list
                    each socialItem in socialList
                        li.footer__social-item
                            a(href=socialItem.link)
                                i(class=socialItem.icon).footer__social-icon
    .footer__row.footer__row--categories
        .container.footer__row-container.footer__row-container--fill
            - var footerCols = [{title: 'О центре', items: ['Миссия+ценности', 'История компании', 'Команда', 'Коучинговые компетенции', 'Членство в ICF', 'Ведущие', 'Партнеры', 'Представительства', 'Лаборатория научных исследований коучинга', 'Новости', 'Отзывы']}, {title: 'Направления', items: ['Программы развития коучинговых компетенций', 'Развитие профессиональных коучей', 'GV: Коучинг для организаций', 'Agile-коучинг', 'Современные подходы в образовании и воспитании', 'Индивидуальный коучинг']}, {title: 'Процесс обучения', items: ['Расписание', 'Очное обучение', 'Онлайн-обучение', 'Песочница', 'Практика+стажировки', 'Программа лояльности', 'Институт обратной связи', 'Фестиваль коучинга', 'Коуч-туры', 'Бесплатные мастер-классы, вебинары и лекции', 'Горячая линия']}, {title: 'База знаний', items: ['Коучинг в HR: инструкция по применению', 'Спецпроект. История коучинга в России: 1990 − 2020. Команды, люди, события.', 'О коучинге понятным языком: 15 статей', 'Онлайн-библиотека', 'Подкаст: «Хроники одного коуча»']}]
            each footerCol in footerCols
                .footer__col
                    p.footer__col-title= footerCol.title
                    ul.footer__col-list
                        each item in footerCol.items
                            li.footer__col-item
                                a(href="#").footer__col-link= item
    .footer__row
        .container.footer__row-container.footer__row-container--fit
            .footer__col.footer__col--flex.footer__col--align-center.footer__col--copyright
                p.footer__bottom-text.footer__copyright 
                    span.footer__copyright-item.footer__copyright-item--bold © 2019-2020 ICP Centre.&nbsp;
                    br
                    span.footer__copyright-item Все права защищены.
            .footer__col.footer__col--flex.footer__col--align-center.footer__col--bottom-info
                .footer__bottom-info-item
                    a(href="").footer__bottom-text.footer__bottom-text--link Договор-оферта
                .footer__bottom-info-item
                    a(href="").footer__bottom-text.footer__bottom-text--link Политика конфиденциальности
                .footer__bottom-info-item.footer__bottom-info-item--chat
                    a(href="").footer__chat-icon
