header.header
    .header__wrapper
        img(src="images/svg/logo.svg").header__logo
        p.header__title Один из крупнейших в Европе международных центров обуения с сертификацией ICF
    .header__wrapper
        a(href="mailto:info@icpcentre.org").header__link info@icpcentre.org
        a(href="tel:+78005513531").header__link.header__link--phone 8 800 551-35-31
