.footer {
	@include mobile-l() {
		padding-bottom: 72px;
	}

	&__bottom-info-item {
		padding: 10px 20px;
	}

	&__row {
		padding: 35px 0;
		border-bottom: 1px solid $color-black-opacity05;
	}

	&__row-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
		grid-gap: 30px;

		@include mobile-l() {
			grid-template-columns: unset;
		}
	}

	&__col {
		&--align-center {
			display: flex;
			align-items: center;
		}

		&--bottom-info {
			margin: -10px -20px;
			flex-wrap: wrap;
		}
	}

	&__primary-link {
		font-weight: 500;
		font-size: 20px;
		line-height: 20px;
		color: $color-gray;
		text-decoration-line: none;

		&--email {
			text-decoration-line: underline;
		}
	}

	&__social-list {
		display: flex;
		margin: 0 -15px;
	}

	&__social-icon {
		height: 40px;
		padding: 15px;
	}

	&__col-title {
		font-weight: bold;
		font-size: 10px;
		line-height: 20px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $color-blue;
		opacity: 0.9;
	}

	&__col-list {
		margin-top: 22px;
		margin-bottom: -16px;
	}

	&__col-item {
		margin-bottom: 16px;
	}

	&__col-link {
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		color: $color-gray;
		opacity: 0.9;
		text-decoration-line: none;
	}

	&__bottom-text {
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
		color: $color-gray;

		&--link {
			white-space: nowrap;
			text-decoration-line: underline;
		}
	}

	&__chat-icon {
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: $color-blue url("../images/svg/icon-chat.svg") no-repeat
			center;
		flex-shrink: 0;
	}

	&__social-item {
		margin-right: 10px;
	}

	&__social-icon {
		color: $color-gray;
	}
}
