.footer {
	$p: &;

	@include mobile-l {
		padding-bottom: 72px;
	}

	&__bottom-info-item {
		padding: 10px 20px;

		@include laptop {
			padding: 10px 15px;
		}

		@include tablet {
			padding: 0 20px;
		}

		@include mobile-l {
			padding: 8px;
		}

		&--chat {
			padding: 0;
			margin-left: auto;

			@include tablet {
				padding: 0 20px 0 0;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
			}

			@include tablet-xs {
				display: none;
			}
		}
	}

	&__row {
		position: relative;
		padding: 35px 0;
		border-bottom: 1px solid $color-black-opacity05;

		@include mobile-l {
			padding: 25px 0;
		}

		&--categories {
			@include tablet {
				display: none;
			}
		}

		&--contacts {
			#{$p}__row-container {
				@include mobile-l {
					margin: -12px;
				}
			}

			#{$p}__col {
				@include mobile-l {
					padding: 12px;
				}
			}
		}
	}

	&__row-container {
		display: grid;
		grid-gap: 30px;

		&--fit {
			grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));

			@include tablet {
				grid-gap: 20px;
				grid-template-columns: unset;
			}

			@include mobile-l {
				display: flex;
				flex-direction: column;
			}
		}

		&--fill {
			grid-template-columns: repeat(
				auto-fill,
				minmax(calc(25% - 30px), 1fr)
			);

			@include laptop {
				grid-template-columns: repeat(
					auto-fill,
					minmax(calc((100% - 90px) / 4), 1fr)
				);
			}

			@include tablet {
				display: flex;
				align-items: center;
			}

			@include mobile-l {
				display: flex;
				flex-direction: column;
				align-items: unset;
			}
		}

		@include mobile-l {
			grid-template-columns: unset;
			grid-gap: unset;
		}
	}

	&__col {
		&--align-center {
			display: flex;
			align-items: center;
			flex-shrink: 0;
		}

		&--bottom-info {
			margin: -10px -20px;
			flex-wrap: wrap;

			@include laptop {
				margin: -10px -15px;
			}

			@include mobile-l {
				margin: -8px;
			}
		}

		&--social {
			margin-top: -8px;
			flex-shrink: 1;

			@include tablet {
				margin-left: auto;
			}

			@include mobile-l {
				margin-left: unset;
			}
		}

		&--copyright {
			@include mobile-l {
				margin-top: 15px;
				order: 2;
			}
		}

		&--phone {
			order: -1;
		}
	}

	&__primary-link {
		font-weight: 500;
		font-size: 20px;
		line-height: 20px;
		color: $color-gray;
		text-decoration-line: none;

		&--email {
			text-decoration-line: underline;
		}
	}

	&__email-text {
		@include tablet {
			display: none;
		}

		@include mobile-l {
			display: inline-block;
		}
	}

	&__email-icon {
		display: none;
		height: 20px;
		width: 20px;
		background: url("../images/svg/icon-email-gray.svg") no-repeat center;

		@include tablet {
			display: block;
		}

		@include mobile-l {
			display: none;
		}
	}

	&__social-list {
		display: flex;
		margin: -5px -15px;
		flex-wrap: wrap;
	}

	&__social-icon {
		height: 40px;
		padding: 15px;
	}

	&__col-title {
		font-weight: bold;
		font-size: 10px;
		line-height: 20px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: $color-blue;
		opacity: 0.9;
	}

	&__col-list {
		margin-top: 22px;
		margin-bottom: -16px;
	}

	&__col-item {
		margin-bottom: 16px;
	}

	&__col-link {
		font-weight: normal;
		font-size: 14px;
		line-height: 18px;
		color: $color-gray;
		opacity: 0.9;
		text-decoration-line: none;
	}

	&__bottom-text {
		font-weight: 400;
		font-size: 15px;
		line-height: 20px;
		color: $color-gray;

		&--link {
			white-space: nowrap;
			text-decoration-line: underline;
		}
	}

	&__chat-icon {
		display: block;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: $color-blue url("../images/svg/icon-chat.svg") no-repeat
			center;
		flex-shrink: 0;
	}

	&__social-item {
		margin-right: 10px;

		@include tablet-xs {
			margin-right: -4px;
		}
	}

	&__social-icon {
		color: $color-gray;
	}

	&__copyright {
		br {
			display: none;

			@include mobile-l {
				display: block;
			} 
		}
	}

	&__copyright-item {
		&--bold {
			font-weight: 500;
		}
	}
}
