.header {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
	color: $color-white;

	&__row {
		position: relative;

		&--panel {
			display: flex;
			justify-content: space-between;
			padding: 21px 45px;
		}

		&--navbar {
			padding: 20px 45px 25px 45px;
		}

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100vw;
			height: 1px;
			background-color: $color-white-opacity10;
		}
	}

	&__navbar-list {
		display: flex;
		justify-content: space-between;
	}

	&__link {
		display: flex;
		align-items: center;
	}

	&__dropdown-icon {
		width: 14px;
		height: 7px;
		margin-left: 10px;
		background: url("../images/svg/icon-arrow-down-white.svg") no-repeat
			center;
	}

	&__wrapper {
		display: flex;
		align-items: center;
	}

	&__link {
		color: $color-white;
		text-decoration: none;
	}

	&__title {
		max-width: 430px;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
	}

	&__title,
	&__link--phone {
		margin-left: 56px;
	}
}
