.header {
	$p: &;

	position: absolute;
	width: 100%;
	z-index: 2;

	@include mobile-l {
		position: fixed;
		bottom: 0;
		background-color: $color-white;
	}

	&__container {
		@include mobile-l {
			padding: 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		color: $color-white;
	}

	&__navbar-item {
		display: flex;
		align-items: center;
		cursor: pointer;

		&--active {
			color: $color-blue2 !important;

			#{$p}__dropdown-icon {
				background: url("../images/svg/icon-arrow-top-blue.svg")
					no-repeat center !important;
			}
		}

		&:hover {
			@include tablet {
				background: #283cb5;
				color: white !important;
			}

			#{$p}__dropdown-icon {
				@include tablet {
					filter: none;
				}
			}
		}

		@include tablet {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			padding: 0 27px 0 22px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: $color-gray;
			text-decoration: none;
			height: 59px;
			width: 100%;
			font-weight: 500;
			font-size: 16px;
			line-height: 16px;
		}
	}

	&__row {
		position: relative;

		&--panel {
			display: flex;
			padding: 21px 0;
			justify-content: space-between;
			z-index: 2;

			@include desktop {
				padding: 21px 45px;
			}

			@include laptop {
				padding: 24px 30px;
			}

			@include tablet {
				padding: 20px 33px;
			}

			@include mobile-l {
				box-shadow: 0 -5px 10px $color-black-opacity05;
			}
		}

		&--navbar {
			@include tablet {
				position: absolute;
				display: flex;
				top: 100%;
				left: 0;
				max-width: 100%;
				padding: 0;
				background-color: $color-white;
				z-index: 2;
				height: calc(100vh - 100%);
				transform: translateX(calc(-100% - 305px));
				transition: transform 0.3s ease;
				-webkit-font-smoothing: antialiased;
			}

			@include tablet-xs {
				overflow: hidden;
			}

			@include mobile-l {
				position: fixed;
				top: 0;
				height: calc(100vh - 76px);
			}
		}

		&--dropdown {
			display: none;

			@include tablet {
				display: flex;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				background-color: $color-white;
				max-height: 100%;
				overflow: hidden auto;
				transition: transform 0.3s ease;
				z-index: 1;
			}

			@include tablet-xs {
				z-index: 2;
				transform: translateX(100%);
			}

			&::after {
				@include tablet {
					content: none !important;
				}
			}
		}

		&::after {
			content: "";
			position: absolute;
    		left: 50%;
			bottom: 0;
			width: 100vw;
			height: 1px;
			background-color: $color-white-opacity10;
			transform: translateX(-50%);
		}
	}

	&__navbar-list {
		padding: 20px 0 25px 0;
		display: flex;
		justify-content: space-between;

		
		@include desktop {
			padding: 20px 45px 25px 45px;
		}

		@include tablet {
			border-right: 1px solid $color-black-opacity10;
			padding: 0;
			display: unset;
			z-index: 2;
			background-color: $color-white;
		}

		@include tablet-xs {
			width: 100vw;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		color: $color-white;
		text-decoration: none;
	}

	&__mail-icon {
		height: 20px;
		width: 20px;
		background: url("../images/svg/icon-email.svg") no-repeat center;
	}

	&__dropdown-icon {
		width: 14px;
		height: 7px;
		margin-left: 10px;
		background: url("../images/svg/icon-arrow-down-white.svg") no-repeat
			center;
		pointer-events: none;

		@include tablet {
			transform: rotate(-90deg);
			filter: invert(1);
		}
	}

	&__wrapper {
		display: flex;
		align-items: center;

		&--contacts {
			@include tablet {
				display: none;
			}
		}

		&--general {
			@include laptop {
				flex-grow: 1;
			}
		}

		&--hamburger {
			display: none;

			@include tablet {
				display: flex;
			}

			@include mobile-l {
				order: 1;
			}
		}
	}

	&__logo {
		margin-right: 52px;
		filter: grayscale(100%) invert(100%) contrast(15);

		@include tablet {
			margin-right: unset;
			height: 32px;
		}

		@include mobile-l {
			filter: unset;
		}
	}

	&__title {
		max-width: 400px;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;

		@include tablet {
			margin-left: auto;
		}

		@include tablet-s {
			display: none;
		}
	}

	&__link--phone {
		margin-left: 56px;
	}

	&__backdrop {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		opacity: 0;
	}

	&__checkbox-dropdown {
		&:checked {
			& ~ #{$p} {
				@include tablet("min") {
					background-color: $color-white;
					color: $color-gray;
				}

				#{$p}__dropdown-backdrop {
					@include tablet-xs {
						display: block;
					}
				}

				#{$p}__backdrop--dropdown {
					display: block;
				}

				#{$p}__row--dropdown {
					display: flex;

					@include tablet {
						transform: translateX(100%);
					}

					@include tablet-xs {
						transform: none;
					}

					@include tablet("min") {
						border-top: 1px solid $color-black-opacity10;
					}
				}
			}
		}
	}

	&__checkbox-hamburger {
		&:checked {
			& ~ #{$p} {
				@include tablet {
					background-color: $color-white;
					color: $color-gray;
				}

				#{$p}__row--navbar {
					@include tablet {
						transform: none;
					}
				}

				#{$p}__hamburger-icon {
					@include tablet {
						background: url("../images/svg/icon-close.svg")
							no-repeat center;
					}
				}
			}
		}
	}

	&__checkbox-dropdown,
	&__checkbox-hamburger {
		display: none;

		&:checked {
			& ~ #{$p} {
				#{$p}__backdrop--hamburger {
					display: block;

					@include mobile-l {
						display: none;
					}
				}

				#{$p}__logo {
					filter: unset;
				}

				#{$p}__row::after {
					background-color: $color-black-opacity05;
				}

				#{$p}__link,
				#{$p}__title {
					color: $color-gray;
				}

				#{$p}__navbar-item {
					color: $color-gray;
				}

				#{$p}__dropdown-icon {
					background: url("../images/svg/icon-arrow-down-gray.svg")
						no-repeat center;
				}
			}
		}
	}

	&__hamburger-icon {
		z-index: 3;
		display: block;
		width: 30px;
		height: 30px;
		margin-right: 90px;
		background: url("../images/svg/icon-hamburger.svg") no-repeat center;

		@include mobile-l {
			background: url("../images/svg/icon-hamburger-gray.svg") no-repeat
				center;
			margin-right: unset;
		}
	}

	&__hamburger-close-icon {
		width: 18px;
		height: 18px;
	}

	&__dropdown-item {
		width: 305px;
		height: 59px;
		background-color: $color-white;
		border-right: 1px solid $color-black-opacity10;
		border-bottom: 1px solid $color-black-opacity10;
	}

	&__dropdown-link {
		display: flex;
		height: 100%;
		width: 100%;
		padding: 0 22px;
		font-size: 16px;
		line-height: 16px;
		color: $color-black;
		text-decoration: none;
		align-items: center;

		&:hover {
			color: $color-blue2;
		}
	}

	&__dropdown-list {
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: repeat(8, fit-content(1em));

		@include tablet {
			display: block;
		}
	}

	&__dropdown-search-container {
		padding: 15px;
		width: 100%;
		display: flex;

		@include tablet {
			display: none;
		}
	}

	&__dropdown-search-input {
		width: 100%;
		align-self: flex-end;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		height: 44px;
		padding: 0 12px;
		font-size: 16px;
		line-height: 30px;
	}

	&__dropdown-backdrop {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $color-black;
		opacity: 0.6;
		z-index: 2;
	}
}
