.page {
	&__content {
		position: relative;
		padding-bottom: 100px;
		background-color: $color-white;
		z-index: 1;

		@include mobile-l {
			padding-bottom: 30px;
		}
	}

	&__start-screen {		
		position: relative;
		display: flex;
		height: 795px;
		z-index: 1;
	
		@include laptop {
			height: 651px;
		}
	
		@include tablet {
			height: 605px;
		}
	
		@include mobile-l {
			height: 560px;
		}
	}
}