.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-65 {
    margin-top: 65px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-30 {
    margin-bottom: 30px;
} 

.mx-auto {
    margin-left: auto;
    margin-right: auto;
} 