.reviews-card {
	padding: 50px 80px;

	@include laptop {
		padding: 30px 50px;
	}

	@include tablet-s2 {
		padding: 20px 30px;
	}

	@include mobile-l {
		padding: 10px;
	}

	&__footer {
		margin-top: 20px;
	}

	&__program {
		margin-top: 10px;
	}

	&__program-link {
		text-decoration: none;
	}

	&__author {
		display: flex;
		align-items: center;
	}

	&__name {
		margin-left: 20px;
	}

	&__avatar {
		border-radius: 50%;
		object-fit: cover;
		width: 43px;
		height: 43px;
	}
}
