.capabilities-more {
	$p: &;

	padding: 0 20px;

	&__content {
		max-width: 1140px;
		margin: 45px auto 0 auto;
		padding-bottom: 33px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-bottom: 10px solid $color-blue4;
	}

	&__list {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		margin: 9px 0 -15px 0;

		@include laptop-s {
			flex-wrap: wrap;
		}

		@include tablet {
			margin: 9px -15px -15px -15px;
			justify-content: space-evenly;
		}

		@include tablet-xs {
			margin: 16px -8px -8px -8px;
		}

		@include mobile-l {
			margin-top: 24px;
		}

		&--animated {
			#{$p}__shape-wrp {
				animation: bounce-top 1.4s both;
				// animation: wobble-hor-bottom 1.4s both;
			}
		}
	}

	@keyframes bounce-top {
		0% {
			opacity: 1;
		}
		16% {
			transform: translateY(-45px);
			animation-timing-function: ease-in;
		}
		45% {
			transform: translateY(-24px);
			animation-timing-function: ease-in;
		}
		65% {
			transform: translateY(-12px);
			animation-timing-function: ease-in;
		}
		80% {
			transform: translateY(-8px);
			animation-timing-function: ease-in;
		}
		94% {
			transform: translateY(-4px);
			animation-timing-function: ease-in;
		}
		30%,
		55%,
		73%,
		87% {
			transform: translateY(0px);
			animation-timing-function: ease-out;
		}
		100% {
			transform: translateY(0px);
			animation-timing-function: ease-out;
			opacity: 1;
		}
	}

	@keyframes wobble-hor-bottom {
		0%,
		100% {
			transform: translateX(0%);
			transform-origin: 50% 50%;
		}
		15% {
			transform: translateX(-30px) rotate(-6deg);
		}
		30% {
			transform: translateX(15px) rotate(6deg);
		}
		45% {
			transform: translateX(-15px) rotate(-3.6deg);
		}
		60% {
			transform: translateX(9px) rotate(2.4deg);
		}
		75% {
			transform: translateX(-6px) rotate(-1.2deg);
		}
	}

	&__shape-wrp {
		height: 81px;
		display: flex;
		align-items: center;

		@include mobile-l {
			height: unset;
		}

		&--2, &--4 {
			animation-delay: 0.05s !important;
		}
	}

	&__shape {
		display: inline-block;

		&--2 {
			width: 58px;
			height: 58px;
			background: $color-green-light;
			border-radius: 15px;
			transform: rotate(45deg);
		}

		&--3 {
			width: 58px;
			height: 58px;
			background: $color-blue3;
			border-radius: 50%;
		}

		&--4 {
			width: 58px;
			height: 58px;
			background: $color-blue4;
			border-radius: 13px;

			&::after {
				top: 11px;
				right: -18px;
			}
		}

		&--5 {
			&::after {
				top: 9px;
				right: -7px;
			}
		}

		&--vip {
			position: relative;

			&::after {
				content: "vip";
				position: absolute;
				height: 17px;
				width: 30px;
				line-height: 17px;
				font-size: 10px;
				color: rgba($color-white, 0.9);
				background: $color-blue;
				border-radius: 3px;
				font-weight: bold;
				text-align: center;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}
	}

	&__item {
		max-width: 205px;
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-basis: 205px;
		padding: 15px 0;

		@include tablet {
			padding: 15px;
			box-sizing: content-box;
		}

		@include tablet-xs {
			flex-basis: 153px;
			padding: 20px 0;
		}

		@include mobile-l {
		}
	}

	&__item-name {
		margin-top: 20px;
		font-size: 14px;
		line-height: 18px;
		text-align: center;

		@include mobile-l {
			margin-top: 12px;
			font-size: 12px;
			line-height: 18px;
		}
	}
}
