.capabilities-schedule {
	$p: &;

	margin-top: 95px;
	padding: 25px 0 50px 0;
	border-top: 4px solid $color-blue2;
	border-bottom: 4px solid $color-blue2;

	@include mobile-l {
		padding: 0 0 50px 0;
	}

	&__title {
		margin-left: 100px;
		font-weight: 500;
		font-size: 60px;
		line-height: 70px;
		color: $color-blue2;

		@include laptop {
			margin-left: 0;
		}

		@include beetween-tablet-s1-and-mobile {
			font-size: vw(60px, 630px);
			line-height: vw(70px, 630px);
		}

		@include mobile-l {
			font-size: 20px;
			line-height: 70px;
		}
	}

	&__content {
		margin-top: 40px;
		display: flex;

		@include beetween-tablet-and-mobile {
			flex-direction: row;
		}

		@include mobile-l {
			margin-top: 20px;
		}
	}

	&__switch-input {
		display: none;

		&:checked {
			& ~ #{$p}__timetable {
				max-height: 1000px;

				#{$p}__months {
					&--short {
						opacity: 0;
					}

					&--full {
						opacity: 1;
						max-height: 1000px;
					}
				}
			}

			& ~ #{$p}__module-title {
				#{$p}__module-name {
					color: $color-gray;
					background-image: none;
				}

				&::before {
					background: url("../images/svg/icon-schedule-minus.svg");
					background-size: cover;
				}
			}
		}
	}

	&__modules {
		flex-grow: 1;
		flex-shrink: 1;
		margin: -25px 0;

		@include beetween-laptop-and-tablet {
			margin: vw(-25px) 0;
		}

		@include tablet {
			margin-left: 62px;
		}

		@include mobile-l {
			padding-bottom: 30px;
		}
	}

	&__module {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 25px 0;

		@include beetween-laptop-and-tablet {
			padding: vw(25px) 0;
		}

		@include tablet {
			flex-direction: column;
		}

		@include mobile-l {
			padding: 20px 0;
		}
	}

	&__module-title {
		position: relative;
		flex-basis: 330px;
		flex-shrink: 0;
		align-self: flex-start;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			width: 30px;
			height: 30px;
			background: url("../images/svg/icon-schedule-plus.svg");
			background-size: cover;
			border-radius: 50%;
			transform: translateX(-100%);
			left: -32px;
			top: 24px;

			@include beetween-laptop-and-tablet {
				width: vw(30px);
				height: vw(30px);
				left: vw(-32px);
				top: vw(24px);
			}
		}

		@include beetween-laptop-and-tablet {
			flex-basis: vw(330px);
		}

		@include tablet {
			flex-basis: unset;
		}
	}

	&__module-num {
		margin-bottom: 10px;
	}

	&__module-name {
		font-weight: bold;
		font-size: 24px;
		line-height: 29px;
		color: $color-blue;
		transition: color 0.3s linear;
		background-image: linear-gradient(
			90deg,
			#1488cc,
			#1488cc 7px,
			rgba(20, 136, 204, 0),
			rgba(20, 136, 204, 0) 0
		);
		background-size: 10px 1px;
		background-position: left bottom;
		background-repeat: repeat-x;
		padding-bottom: 1px;

		@include beetween-laptop-and-tablet {
			font-size: vw(24px);
			line-height: vw(29px);
			background-size: vw(10px) 1px;
		}

		@include beetween-tablet-s1-and-mobile {
			font-size: vw(24px, 630px);
			line-height: vw(29px, 630px);
			background-size: vw(10px, 630px) 1px;
		}
	}

	&__timetable {
		display: flex;
		flex-direction: column;
		flex-basis: 425px;

		@include beetween-laptop-and-tablet {
			flex-basis: vw(425px);
		}

		@include tablet {
			font-size: 24px;
			line-height: 29px;
			min-height: 29px;
			margin-top: 20px;
			flex-basis: unset;
		}
	}

	&__months {
		&--short {
			position: absolute;
			top: 2.1em;
			margin-top: auto;
			font-size: 24px;
			line-height: 29px;
			transition: opacity 0.3s linear;
			white-space: nowrap;

			@include beetween-laptop-and-tablet {
				font-size: vw(24px);
				line-height: vw(29px);
			}

			@include tablet {
				max-width: 100%;
				margin-top: unset;
				top: unset;
				white-space: unset;
			}

			@include beetween-tablet-s1-and-mobile {
				font-size: vw(24px, 630px);
				line-height: vw(29px, 630px);
			}
		}

		&--full {
			overflow: hidden;
			opacity: 0;
			margin: -15px 0;
			max-height: 0;
			transition: all 0.3s linear;

			@include beetween-laptop-and-tablet {
				margin: vw(-15px) 0;
			}
		}
	}

	&__month {
		padding: 15px 0;

		@include beetween-laptop-and-tablet {
			padding: vw(15px) 0;
		}
	}

	&__module-num,
	&__month-name {
		font-size: 14px;
		line-height: 17px;

		@include beetween-laptop-and-tablet {
			font-size: vw(14px);
			line-height: vw(17px);
		}
	}

	&__month-name {
		font-size: 14px;
		line-height: 18px;
		color: $color-gray-light4;
		opacity: 0.9;
		margin-bottom: 24px;

		@include beetween-laptop-and-tablet {
			font-size: vw(14px);
			line-height: vw(18px);
			margin-bottom: vw(24px);
		}
	}

	&__date {
		display: inline-block;
		width: 80px;
		margin-right: 35px;

		@include beetween-laptop-and-tablet {
			width: vw(80px);
			margin-right: vw(35px);
		}
	}

	&__days {
		margin: -10px 0;

		@include beetween-laptop-and-tablet {
			margin: vw(-10px) 0;
		}

		@include beetween-tablet-s1-and-mobile {
			margin: vw(-10px, 630px) 0;
		}
	}

	&__day {
		padding: 10px 0;
		font-size: 24px;
		line-height: 29px;

		@include beetween-laptop-and-tablet {
			padding: vw(10px) 0;
			font-size: vw(24px);
			line-height: vw(29px);
		}

		@include beetween-tablet-s1-and-mobile {
			padding: vw(10px, 630px) 0;
			font-size: vw(24px, 630px);
			line-height: vw(29px, 630px);
		}
	}

	&__day-text {
		display: inline-block;
		white-space: nowrap;

		&--italic {
			font-style: italic;
		}

		@include beetween-tablet-s1-and-mobile {
			min-width: vw(300px, 630px);
		}
	}

	&__info {
		margin-left: 30px;
		flex-basis: 320px;
		flex-shrink: 3;

		@include beetween-laptop-and-tablet {
			margin-left: vw(30px);
			flex-basis: vw(320px);
		}

		@include tablet {
			flex-basis: 225px;
			flex-shrink: 1;
		}

		@include mobile-l {
			margin-left: 0;
			padding-top: 30px;
			position: relative;
		}
		&::before {
			@include mobile-l {
				content: "";
				position: absolute;
				width: 100vw;
				height: 1px;
				top: 0;
				left: calc(50% - 50vw);
				background-color: $color-gray-light4;
			}
		}
	}

	&__info-icon {
		width: 20px;
		height: 20px;
		background: url("../images/svg/icon-info.svg");
		background-size: cover;
		margin-bottom: 17px;

		@include beetween-laptop-and-tablet {
			width: vw(20px);
			height: vw(20px);
			margin-bottom: vw(17px);
		}
	}

	&__info-list {
		margin: -10px 0;

		@include beetween-laptop-and-tablet {
			margin: vw(-10px) 0;
		}
	}

	&__info-item {
		padding: 10px 0;

		@include beetween-laptop-and-tablet {
			padding: vw(10px) 0;
		}
	}

	&__info-span {
		font-size: 16px;
		line-height: 22px;

		@include beetween-laptop-and-tablet {
			font-size: vw(16px);
			line-height: vw(22px);
		}

		&--italic {
			font-style: italic;
		}

		&--bold-blue {
			font-weight: 700;
			color: $color-blue;
		}

		&--medium {
			font-weight: 500;
		}
	}
}
