.capabilities-program {
	$p: &;

	color: $color-white;

	&__slider {
		position: relative;
		height: 850px;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;

		@include laptop {
			height: 950px;
		}
	}

	&__slide {
		position: relative;
		display: flex;
		height: 100%;
		padding-left: 158px;
		box-sizing: border-box;

		@include laptop {
			padding-top: 100px;
			width: 100% !important;
		}

		&--1 {
			width: 1075px !important;
			padding-left: 148px;
			background-color: $color-green;

			#{$p}__number {
				margin-top: 59px;
			}

			#{$p}__content {
				padding: 43px 30px 30px 85px;
			}

			#{$p}__module {
				&::before {
					width: 615px;
					height: 294px;
					background: $color-green-light2;
					mix-blend-mode: lighten;
					clip-path: polygon(0 30px, 100% 0%, 100% 100%, 0% 100%);
					transform: translate(-33px, -75px);
				}
			}

			#{$p}__description {
				margin-top: 63px;
			}

			#{$p}__description-block {
				&--results {
					margin-top: 67px;

					#{$p}__description-list {
						max-height: 14em;
					}
				}

				&--topics {
					#{$p}__description-list {
						max-height: 13em;
					}
				}
			}

			#{$p}__shape {
				top: 421px;
				right: -175px;
			}
		}

		&--2 {
			width: 1075px !important;
			background-color: $color-blue3;

			#{$p}__module {
				&::before {
					width: 690px;
					height: 241px;
					background: $color-gray-light3;
					mix-blend-mode: lighten;
					clip-path: polygon(0 0, 100% 0, 100% 100%, 60px 100%);
					transform: translate(-165px, -29px);
				}
			}

			#{$p}__description {
				margin-top: 77px;
			}

			#{$p}__description-title--link {
				color: $color-blue4;

				&::after {
					background-image: linear-gradient(
						90deg,
						$color-blue4,
						$color-blue4 7px,
						rgba($color-blue4, 0),
						rgba($color-blue4, 0) 3px
					);
				}
			}

			#{$p}__shape {
				top: 182px;
				right: -133px;
			}
		}

		&--3 {
			width: 1075px !important;
			background-color: $color-blue4;

			#{$p}__module {
				&::before {
					width: 883px;
					height: 241px;
					background: $color-yellow;
					mix-blend-mode: lighten;
					clip-path: polygon(82px 0, 849px 30px, 100% 100%, 0 163px);
					transform: translate(-165px, -29px);
				}
			}

			#{$p}__description {
				margin-top: 38px;
			}

			#{$p}__description-block--results {
				margin-top: 122px;
			}

			#{$p}__description-list {
				max-height: 12em;
			}

			#{$p}__shape {
				top: 534px;
				right: -61px;
			}
		}

		&--4 {
			width: 1075px !important;
			background-color: $color-green-light;

			#{$p}__module {
				&::before {
					width: 872px;
					height: 241px;
					background: $color-gray-light3;
					mix-blend-mode: multiply;
					clip-path: polygon(71px 0, 838px 30px, 100% 100%, 0 100%);
					transform: translate(-185px, -29px);
				}
			}

			#{$p}__description {
				margin-top: 117px;
				margin-left: -130px;
				width: calc(100% + 115px);
			}

			#{$p}__description-title--link {
				margin-left: -115px;
			}

			#{$p}__description-title--link {
				color: $color-green2;

				&::after {
					background-image: linear-gradient(
						90deg,
						$color-green2,
						$color-green2 7px,
						rgba($color-green2, 0),
						rgba($color-green2, 0) 3px
					);
				}
			}

			#{$p}__shape {
				top: 581px;
				right: 0;
				transform: translateX(50%);
			}
		}

		&--5 {
			width: 1080px !important;
			background-color: $color-blue5;

			#{$p}__module {
				&::before {
					width: 872px;
					height: 241px;
					background: $color-gray-light3;
					mix-blend-mode: lighten;
					clip-path: polygon(71px 0, 838px 30px, 100% 100%, 0 100%);
					transform: translate(-185px, -29px);
				}
			}

			#{$p}__description {
				margin-top: 68px;
			}

			#{$p}__description-block {
				&--results {
					margin-top: 31px;

					#{$p}__description-list {
						max-height: 16em;
					}
				}

				&--topics {
					#{$p}__description-list {
						max-height: 9em;
					}
				}
			}

			#{$p}__description-title--link {
				color: $color-blue6;

				&::after {
					background-image: linear-gradient(
						90deg,
						$color-blue6,
						$color-blue6 7px,
						rgba($color-blue6, 0),
						rgba($color-blue6, 0) 3px
					);
				}
			}
		}
	}

	&__path {
		position: absolute;
		z-index: 3;
		margin-top: 153px;
		margin-left: 13px;
		pointer-events: none;
	}

	&__shape {
		position: absolute;
		z-index: 2;
	}

	&__number {
		z-index: 1;
		margin-top: 69px;
		font-weight: 500;
		font-size: 70px;
		line-height: 86px;
	}

	&__module-text {
		font-weight: bold;
		font-size: 10px;
		line-height: 20px;
		letter-spacing: 1px;
		text-transform: uppercase;
		opacity: 0.9;
		margin-left: 4px;
	}

	&__module-title {
		position: relative;
		font-weight: 500;
		font-size: 70px;
		line-height: 80px;
		margin-top: 1px;
		white-space: pre-line;
		text-transform: uppercase;
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 53px 30px 30px 70px;
	}

	&__module {
		&::before {
			content: "";
			position: absolute;
		}
	}

	&__description-title {
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		color: $color-yellow;

		&--link {
			text-decoration: none;
			align-self: flex-start;
			margin-top: auto;

			&::after {
				content: "";
				width: 100%;
				height: 1px;
				margin-top: 1px;
				display: block;
				background-image: linear-gradient(
					90deg,
					$color-yellow,
					$color-yellow 7px,
					rgba($color-yellow, 0),
					rgba($color-yellow, 0) 3px
				);
				background-size: 10px;
				background-position-x: -2px;
			}
		}
	}

	&__description-item {
		display: inline-flex;
		position: relative;
		font-size: 20px;
		line-height: 24px;
		padding: 10px 15px 10px 53px;

		&::before {
			content: "";
			position: absolute;
			left: 15px;
			margin-top: 0.5em;
			width: 19px;
			height: 2px;
			background-color: $color-white;
		}
	}

	&__description-list {
		display: flex;
		margin: 10px -15px -10px -15px;
		flex-flow: column wrap;
	}

	&__description {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 100%;

		&--row {
			flex-direction: row;
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	&__description-block {
		&--results {
			display: flex;
			flex-direction: column;
		}

		&--row {
			#{$p}__description-item {
				max-width: 50%;
			}
		}

		&--col {
			padding: 0 15px;

			#{$p}__description-title {
				color: white;
			}
		}

		&--long {
			flex: 1 3 100%;
		}

		&--short {
			flex: 1 4 100%;
		}

		&--normal {
			flex: 1 1 100%;
		}
	}

	&__nav {
		position: absolute;
		top: 0;
		display: flex;
		transform-origin: left top;
		margin-left: 30px;
		border: 2px solid $color-white;
		z-index: 2;

		@include laptop("min") {
			transform: rotate(90deg) translateY(-100%);
			margin-top: 45px;
		}

		@include laptop {
			margin-top: 30px;
		}
	}

	&__nav-section {
		display: flex;
		height: 60px;

		&--btn {
			width: 60px;
			align-items: center;
			justify-content: center;
		}

		&--title {
			min-width: 238px;
			align-items: center;
			padding-left: 24px;
		}

		& + & {
			border-left: 2px solid $color-white;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: $color-white;
	}

	&__btn {
		width: 100%;
		height: 100%;
		background: url("../images/svg/icon-arrow-right.svg") no-repeat center;
		border: none;
		outline: none;

		&--prev {
			transform: rotate(90deg);

			@include laptop {
				transform: rotate(180deg);
			}
		}

		&--next {
			@include laptop("min") {
				transform: rotate(-90deg);
			}
		}
	}
}
