@mixin slide-breakpoint($dimension: "max") {
	@if $dimension == "max" {
		@media (max-width: 1075px) {
			@content;
		}
	} @else {
		@media (min-width: 1076px) {
			@content;
		}
	}
}

.capabilities-program {
	$p: &;

	color: $color-white;

	&__slider {
		position: relative;
		-webkit-transform: translateZ(0);
		-webkit-backface-visibility: hidden;
	}

	&__slides {
		align-items: stretch;
	}

	
.capabilities-program__slide--1 .capabilities-program__module::before {
	/*! padding: 7% 0; */
  }
  .capabilities-program__slide--1 .capabilities-program__module {
	position: relative;
  }

	&__slide {
		position: relative;
		display: flex;
		height: unset !important;
		padding-left: 158px;
		box-sizing: border-box;
		max-width: 1075px;

		@include slide-breakpoint {
			padding-top: 100px;
			flex-direction: column;
			padding: 90px 50px 100px 90px !important;
		}

		@include mobile-l {
			padding: 65px 20px 55px 20px !important;
		}

		&--1,
		&--2,
		&--3,
		&--4 {
			#{$p}__shape {
				mix-blend-mode: screen;
			}
		}

		&--1 {
			padding-left: 148px;
			background-color: $color-green;

			#{$p}__number {
				margin-top: 59px;

				@include slide-breakpoint {
					margin-top: 0;
				}
			}

			#{$p}__content {
				padding: 43px 30px 30px 85px;
			}

			#{$p}__module {
				position: relative;
				
				@include slide-breakpoint {
					position: unset;
				}

				&::before {
					width: 615px;
					height: 162%;
					background: $color-green-light2;
					mix-blend-mode: lighten;
					clip-path: polygon(0 30px, 100% 0%, 100% 100%, 0% 100%);
					transform: translate(-6%,-27%);

					@include slide-breakpoint {
						height: 194px;
						width: 764px;
						left: 33px;
						transform: translate(-33px, -75px);
					}

					@include mobile-l {
						top: 124px;
						height: 165px;
					}
				}
			}

			#{$p}__description {
				margin-top: 63px;

				@include slide-breakpoint {
					margin-top: 44px;
				}
			}

			#{$p}__description-block {
				&--results {
					margin-top: 67px;

					#{$p}__description-list {
						max-height: 14em;
					}

					@include slide-breakpoint {
						margin-top: 95px;
					}
				}

				&--topics {
					min-height: 290px;

					@include slide-breakpoint {
						min-height: unset;
					}

					#{$p}__description-list {
						max-height: 13em;
					}
				}
			}

			#{$p}__shape {
				top: 421px;
				right: -175px;
			}
		}

		&--2 {
			background-color: $color-blue3;

			#{$p}__module {
				&::before {
					width: 690px;
					height: 241px;
					background: $color-gray-light3;
					mix-blend-mode: lighten;
					clip-path: polygon(0 0, 100% 0, 100% 100%, 60px 100%);
					transform: translate(-165px, -29px);

					@include slide-breakpoint {
						top: 0;
						left: 30px;
						transform: translate(
							vw(40px, 1075px),
							vw(-74px, 1075px)
						);
					}
				}
			}

			#{$p}__description {
				margin-top: 47px;
			}

			#{$p}__description-title--link {
				color: $color-blue4;

				&::after {
					background-image: linear-gradient(
						90deg,
						$color-blue4,
						$color-blue4 7px,
						rgba($color-blue4, 0),
						rgba($color-blue4, 0) 3px
					);
				}
			}

			#{$p}__shape {
				top: 182px;
				right: -133px;

				@include slide-breakpoint {
					top: 388px;
				}
			}
		}

		&--3 {
			background-color: $color-blue4;

			#{$p}__module {
				&::before {
					width: 883px;
					height: 241px;
					background: $color-yellow;
					mix-blend-mode: lighten;
					clip-path: polygon(82px 0, 849px 30px, 100% 100%, 0 163px);
					transform: translate(-165px, -29px);

					@include slide-breakpoint {
						top: 110px;
						left: 120px;
						transform: translate(
							vw(40px, 1075px),
							vw(-74px, 1075px)
						);
					}

					@include mobile-l {
						top: 50px;
					}
				}
			}

			#{$p}__description {
				margin-top: 38px;
			}

			#{$p}__description-block--results {
				margin-top: 122px;
			}

			#{$p}__description-list {
				max-height: 12em;
			}

			#{$p}__shape {
				top: 534px;
				right: -61px;
			}
		}

		&--4 {
			background-color: $color-green-light;

			#{$p}__module {
				min-height: 181px;

				@include slide-breakpoint {
					min-height: unset;
				}

				&::before {
					width: 872px;
					height: 241px;
					background: $color-gray-light3;
					mix-blend-mode: multiply;
					clip-path: polygon(71px 0, 838px 30px, 100% 100%, 0 100%);
					transform: translate(-185px, -29px);

					@include slide-breakpoint {
						top: 25px;
						left: 100px;
						width: 85%;
						clip-path: polygon(
							57px 4px,
							90% 16px,
							100% 100%,
							0px 100%
						);
						transform: translate(
							vw(-69px, 1075px),
							vw(-68px, 1075px)
						);
					}

					@include tablet {
						left: 38px;
						width: 90%;
						clip-path: polygon(8% 0, 94% 0, 100% 100%, 0px 100%);
						top: -28px;
					}
				}
			}

			#{$p}__description {
				margin-top: 100px;
				margin-left: -130px;
				width: calc(100% + 115px);

				@include slide-breakpoint {
					margin-top: 40px;
					margin-left: unset;
					width: unset;
				}
			}

			#{$p}__description-title--link {
				margin-left: -115px;

				@include slide-breakpoint {
					margin-left: unset;
				}
			}

			#{$p}__description-title--link {
				color: $color-green2;

				&::after {
					background-image: linear-gradient(
						90deg,
						$color-green2,
						$color-green2 7px,
						rgba($color-green2, 0),
						rgba($color-green2, 0) 3px
					);
				}
			}

			#{$p}__shape {
				top: 581px;
				right: 0;
				transform: translateX(50%);

				@include tablet-s {
					bottom: 100px;
    				top: unset;
				}
			}
		}

		&--5 {
			background-color: $color-blue5;

			#{$p}__module {
				&::before {
					width: 872px;
					height: 241px;
					background: $color-gray-light3;
					mix-blend-mode: lighten;
					clip-path: polygon(71px 0, 838px 30px, 100% 100%, 0 100%);
					transform: translate(-185px, -29px);

					@include slide-breakpoint {
						top: 70px;
						left: 10px;
						width: 85%;
						clip-path: polygon(
							10% 0px,
							94% 10%,
							97.55% 95.02%,
							0 100%
						);
						transform: translate(
							vw(-65px, 1075px),
							vw(-51px, 1075px)
						);
					}

					@include mobile-l {
						width: 97%;
					}
				}
			}

			#{$p}__description {
				margin-top: 68px;
			}

			#{$p}__description-block {
				&--results {
					margin-top: 31px;

					#{$p}__description-list {
						max-height: 16em;
					}
				}

				&--topics {
					#{$p}__description-list {
						max-height: 9em;
					}
				}
			}

			#{$p}__description-title--link {
				color: $color-blue6;

				&::after {
					background-image: linear-gradient(
						90deg,
						$color-blue6,
						$color-blue6 7px,
						rgba($color-blue6, 0),
						rgba($color-blue6, 0) 3px
					);
				}
			}

			#{$p}__shape {
				mix-blend-mode: lighten;
			}
		}

		&:last-child {
			overflow: hidden;

			#{$p}__number {
				&::after {
					content: none;
				}
			}
		}
	}

	&__path {
		position: absolute;
		z-index: 3;
		margin-top: 153px;
		margin-left: 13px;
		pointer-events: none;

		@include slide-breakpoint {
			// TODO: реализиовать сплошную линию (возможно не через этот элемент, а ::after у модулей)
			display: none;
		}
	}

	&__shape {
		position: absolute;
		z-index: 2;
	}

	&__number {
		z-index: 1;
		margin-top: 69px;
		font-weight: 500;
		font-size: 70px;
		line-height: 86px;

		@include slide-breakpoint {
			margin: 0;
			position: relative;
			align-self: flex-start;
		}

		&:after {
			@include slide-breakpoint {
				content: "";
				width: calc(100vw - 105px - 100%);
				height: 10px;
				background-color: $color-white;
				display: block;
				left: calc(100% + 15px);
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			@include mobile-l {
				width: calc(100vw - 35px - 100%);
			}
		}
	}

	&__module-text {
		font-weight: bold;
		font-size: 10px;
		line-height: 20px;
		letter-spacing: 1px;
		text-transform: uppercase;
		opacity: 0.9;
		margin-left: 4px;
	}

	&__module-title {
		position: relative;
		font-weight: 500;
		font-size: 70px;
		line-height: 114.285714286%;
		margin-top: 1px;
		text-transform: uppercase;
		white-space: pre-line;

		@include slide-breakpoint {
			white-space: unset;
			font-size: unquote("max(50px, 6.8359375vw)");
		}

		@include tablet {
			font-size: vw(50px, 768px);
		}

		@include mobile-l {
			font-size: vw(30px, 425px);
			line-height: 100%;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 53px 30px 30px 70px;

		@include slide-breakpoint {
			padding: 0 !important;
		}
	}

	&__module {
		&::before {
			content: "";
			position: absolute;
		}
	}

	&__description-title {
		font-weight: 500;
		font-size: 22px;
		line-height: 27px;
		color: $color-yellow;

		&--link {
			text-decoration: none;
			align-self: flex-start;
			margin-top: auto;
			padding-top: 2em;

			&::after {
				content: "";
				width: 100%;
				height: 1px;
				margin-top: 1px;
				display: block;
				background-image: linear-gradient(
					90deg,
					$color-yellow,
					$color-yellow 7px,
					rgba($color-yellow, 0),
					rgba($color-yellow, 0) 3px
				);
				background-size: 10px;
				background-position-x: -2px;
			}
		}
	}

	&__description-item {
		display: inline-flex;
		position: relative;
		font-size: 20px;
		line-height: 120%;
		padding: 10px 15px 10px 53px;

		@include tablet {
			font-size: 16px;
			width: unset !important;
			max-width: unset !important;
		}

		@include mobile-l {
			font-size: 14px;
		}

		&::before {
			content: "";
			position: absolute;
			left: 15px;
			margin-top: 0.5em;
			width: 19px;
			height: 2px;
			background-color: $color-white;
		}
	}

	&__description-list {
		display: flex;
		margin: 10px -15px -10px -15px;
		flex-flow: column wrap;

		@include tablet {
			max-height: unset !important;
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		width: 100%;

		&--row {
			flex-direction: row;
			margin: -30px -30px 0 0;

			@include tablet {
				flex-direction: column;
			}
		}
	}

	&__description-block {
		@include tablet {
			flex: unset !important;
		}

		&--results {
			display: flex;
			flex-direction: column;

			@include tablet {
				margin-top: 2em !important;
			}
		}

		&--row {
			#{$p}__description-item {
				max-width: 50%;
				width: 50%;
			}
		}

		&--col {
			padding: 30px 30px 0 0;

			#{$p}__description-title {
				color: $color-white;
			}
		}

		&--long {
			flex: 1 3 100%;
		}

		&--short {
			flex: 1 4 100%;
		}

		&--normal {
			flex: 1 1 100%;
		}
	}

	&__nav {
		position: absolute;
		top: 0;
		display: flex;
		transform-origin: left top;
		margin-left: 30px;
		border: 2px solid $color-white;
		z-index: 2;
		transform: rotate(90deg) translateY(-100%);
		margin-top: 45px;

		@include slide-breakpoint {
			transform: none;
			margin-top: 30px;
		}

		@include tablet {
			margin-top: 14px;
			margin-left: 14px;
		}
	}

	&__nav-section {
		display: flex;
		height: 60px;

		@include mobile-l {
			height: 55px;
		}

		&--btn {
			width: 60px;
			align-items: center;
			justify-content: center;
		}

		&--title {
			min-width: 238px;
			align-items: center;
			padding-left: 24px;
		}

		& + & {
			border-left: 2px solid $color-white;
		}
	}

	&__title {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: $color-white;

		@include tablet {
			font-size: 16px;
			line-height: 122.3125%;
		}
	}

	&__btn {
		width: 100%;
		height: 100%;
		background: url("../images/svg/icon-arrow-right.svg") no-repeat center;
		border: none;
		outline: none;

		&--prev {
			transform: rotate(90deg);

			@include slide-breakpoint {
				transform: rotate(180deg);
			}
		}

		&--next {
			transform: rotate(-90deg);

			@include slide-breakpoint {
				transform: none;
			}
		}
	}

	&__dots {
		display: none;

		@include slide-breakpoint {
			position: absolute;
			left: 20px !important;
			bottom: 25px !important;
			display: flex;
			z-index: 2;
		}

		@include mobile-l {
			bottom: 10px !important;
    		left: 10px !important;
		}
	}

	&__dots-item {
		&--active {
			#{$p}__dot {
				background-color: $color-white;
			}
		}
	}

	&__dot {
		border-color: $color-white;
	}
}
