.capabilities-leading {
	margin-top: 68px;

	@include laptop {
		margin-top: unset;
	}

	&__container {
		@include laptop {
			padding: 0;
		}
	}

	&__aside {
		@include laptop {
			position: absolute;
			z-index: 1;
			padding: 24px 30px;
		}
	}

	&__title {
		@include laptop {
			writing-mode: unset;
			color: white;
			font-weight: 500;
		}
	}

	&__content {
		@include laptop {
			margin-left: 0;
		}
	}

	&__info {
		position: relative;
		margin-top: auto;
		padding: 40px 30px;
		color: $color-white;
	}

	&__persons {
		max-width: 1180px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	&__person {
		flex-basis: 50%;
		flex-grow: 1;
	}

	&__person-wrp {
		position: relative;
		padding-bottom: 93.7288136%;
	}

	&__person-content {
		position: absolute;
		display: flex;
		width: 100%;
		height: 100%;

		&--blue {
			background-color: #1eaad7;
		}

		&--orange {
			background-color: #e8a700;
		}

		&--blue-gray {
			background-color: #4db0b8;
		}

		&--light-green {
			background-color: #6cd3a5;
		}
	}

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		mix-blend-mode: overlay;
	}

	&__name {
		font-weight: 500;
		font-size: 40px;
		line-height: 40px;
		white-space: pre;
	}

	&__description {
		margin-top: 15px;
		font-size: 22px;
		line-height: 27px;

		&--full {
			display: none;
		}
	}

	&__btn {
		margin-top: 15px;
	}
}
