.capabilities-changes {
	overflow: hidden;

	&__title {
		margin-left: 115px;
		font-weight: 500;
		font-size: 40px;
		line-height: 49px;

		@include laptop {
			margin-left: unset;
		}

		@include mobile-l {
			font-size: 20px;
			line-height: 24px;
		}
	}

	&__strikethrough {
		width: 1345px;
		transform: translateX(-50%);
		margin-left: 50%;
		margin-top: 55px;
	}

	&__strikethrough-item {
		position: relative;
		font-weight: 300;
		font-size: 45px;
		line-height: 50px;
		text-transform: uppercase;
		color: $color-gray-light2;

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 100vw;
			min-width: 100%;
			height: 5px;
			top: 50%;
			transform: translateY(-50%) scaleX(0);
			transform-origin: left;
			animation: strike 1s linear infinite;
			animation-play-state: paused;
			animation-delay: calc(var(--scroll) * -1s);
			animation-iteration-count: 1;
			animation-fill-mode: both;
		}

		&--white::after {
			background: $color-white;
		}

		&--orange::after {
			background: $color-orange;
		}

		&--right::after {
			right: 25px;
		}

		&--left::after {
			left: 10px;
		}

		&--infinity {
			display: block;

			&::after {
				left: calc(-50vw + 50%);
			}
		}
	}
	
	@keyframes strike {
	  to {
		transform: translateY(-50%) scaleX(1);
	  }
	}

	&__list {
		margin-top: 55px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 40px;
		grid-row-gap: 50px;
		padding: 0 115px;

		@include laptop {
			margin-top: 45px;
			padding: 0 85px;
			grid-row-gap: 30px;
		}

		@include tablet {
			padding: 0;
			grid-row-gap: 50px;
		}

		@include mobile-l {
			grid-template-columns: unset;
			grid-row-gap: 35px;
		}
	}

	&__list-item {
		font-weight: 500;
		font-size: 25px;
		line-height: 31px;
		white-space: pre-line;

		@include laptop {
			display: flex;
			align-items: center;
		}

		@include tablet {
			font-size: 20px;
			line-height: 24px;
		}

		&--1 {
			@include mobile-l {
				grid-row: 5 / 6;
			}
		}

		&--2 {
			@include mobile-l {
				grid-row: 1 / 2;
			}
		}

		&--3 {
			@include mobile-l {
				grid-row: 6 / 7;
			}
		}

		&--4 {
			@include mobile-l {
				grid-row: 2 / 3;
			}
		}

		&--5 {
			@include mobile-l {
				grid-row: 4 / 5;
			}
		}

		&--6 {
			@include mobile-l {
				grid-row: 3 / 4;
			}
		}
	}
}
