include ./programs-card

mixin programs-list(items)
    li.programs-list
        each item in items
            .programs-list__item
                .programs-list__item-inner
                    +programs-card(item)