extends ../../layouts/festival

block styles
    link(rel="stylesheet" href!=`${baseDir}css/main.css?v=${Date.now()}`)
    link(rel="stylesheet" href!=`${baseDir}css/festival.css?v=${Date.now()}`)
block content
    .festival
        include particles/festival-speakers
       
block scripts