.programs-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include laptop {
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }

    @include tablet {
        gap: 15px;
    }

    @include mobile-l {
        grid-template-columns: 1fr;
    }

    &__item-inner {
        position: relative;
        padding-bottom: 119.047619%;
    }

    &__item-content {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}