.schedule-header
    .container
        +breadcrumbs(["Процесс обучения"])
        .row.row--tablet-column
            .row__col.row__col--md-4
                h1.text.text--l Расписание
            .row__col.row__col--md-6
                .row
                    .row__col.row__col--md-4
                        a(href="#").schedule-header__link.schedule-header__link--current.text.text--l Онлайн
                    .row__col
                        a(href="#").schedule-header__link.text.text--l.text--dashed-link.underlined Оффлайн