.hotline-page-feedback
    .hotline-page-feedback__card
        .hotline-page-feedback__content
            header.hotline-page-feedback__header
                h2.hotline-page-feedback__title Позвоните нам по горячей линии или оставьте заявку 
            section.hotline-page-feedback__body
                span Нажимая кнопку «Записаться» вы соглашаетесь с условиями Договора Оферты и условиями использования Ваших персональных данных.
            footer.hotline-page-feedback__footer
                +button('Записаться', [], 'size-large', 'color-primary', 'icon-ok')
        .hotline-page-feedback__img-wrp
            img(src="images/jpg/hotline-page-feedback.jpg" alt="Горячая линия").hotline-page-feedback__img