- 
    const questions = [
        "Как прожить этот период с минимальными потерями?",
        "Как не потерять себя,а наоборот, найти?",
        "Как собраться?",
        "Как приобрести необходимые для этого времени навыки?",
        "Как найти внутреннюю опору?"
    ]

.hotline-page-questions
    ul.hotline-page-questions__list
        each question in questions
            li.hotline-page-questions__item
                span.text.text--s= question