- 
    const requests = [
        "Расставить приоритетыв новой жизни",
        "Выработать стиль новой жизни",
        "Разобраться с новым графиком своей жизни",
        "Найти ориентирыв создавшейся ситуации",
        "Как справиться с эмоциями",
        "Как собраться и начать принимать взвешенные решения",
        "Как начать управлять ситуацией",
        "Взаимоотношения с близкими",
        "Наладить быт",
        "Сориентироватьсяв карьере в условиях грядущих изменений",
        "Как эффективно реорганизовать финансы"
    ]

.hotline-page-requests
    h2.hotline-page-requests__title.text.text--m.text--bold Примеры запросов для коуч-сессий:
    ul.hotline-page-requests__list
        each request in requests
            li.hotline-page-requests__item
                span.text.text--xs= request