include mixins/hotline-page-marquee-block
include mixins/marquee

.hotline-page-content
    .container
        +hotline-page-marquee-block.hotline-page-marquee-block--1
            +marquee("left").hotline-page-marquee-block__marquee.hotline-page-marquee-block__marquee--1
                each span in [1, 2, 3, 4]
                    div #связьсреальностью
            +marquee("right").hotline-page-marquee-block__marquee.hotline-page-marquee-block__marquee--2
                each span in [1, 2, 3, 4]
                    div #связьсреальностью

        .row.row--tablet-column
            .row__col.row__col--md-4
            .row__col
                .text.text--s Мир моментально изменился, и все мы проходим через серьезные подвижки нашего уклада. Сейчас многим тревожно, непонятно и страшно: мы уже не вернемся в прошлое, нас ждет неизвестное будущее.
        .mt-80
            include ./hotline-page-questions

        .mt-80
            .row.row--tablet-column
                .row__col.row__col--md-4
                .row__col
                    .text.text--s Команда ICP не смогла остаться в стороне: мы специалисты помогающей профессии, и нам важно быть вкладом в развитие людей, и в будущее в целом.В связи с чем у вас и появилась эта особенная возможность.
        
        .mt-65
            include ./hotline-page-invite

        
        +hotline-page-marquee-block.hotline-page-marquee-block--2
            +marquee("right").hotline-page-marquee-block__marquee.hotline-page-marquee-block__marquee--1
                each span in [1, 2, 3, 4]
                    div #связьсреальностью
        
        .mt-65
            include ./hotline-page-themes
        
        .mt-80
            include ./hotline-page-requests
        
        .mt-60     
            include ./hotline-page-feedback