.hotline-page-feedback
    +hotline-page-marquee-block.hotline-page-marquee-block--3
        +marquee("left").hotline-page-marquee-block__marquee.hotline-page-marquee-block__marquee--1
            each span in [1, 2, 3, 4]
                div #связьсреальностью
        +marquee("right").hotline-page-marquee-block__marquee.hotline-page-marquee-block__marquee--2
            each span in [1, 2, 3, 4]
                div #связьсреальностью

    .hotline-page-feedback__card
        .hotline-page-feedback__content
            header.hotline-page-feedback__header
                h2.hotline-page-feedback__title Позвоните нам по горячей линии или оставьте заявку 
            section.hotline-page-feedback__body
                span Нажимая кнопку «Записаться» вы соглашаетесь с условиями Договора Оферты и условиями использования Ваших персональных данных.
            footer.hotline-page-feedback__footer
                +button('Записаться', [], 'size-large', 'color-primary', 'icon-ok')
        .hotline-page-feedback__img-wrp
            img(src="images/jpg/hotline-page-feedback.jpg" alt="Горячая линия").hotline-page-feedback__img