.hotline-page-invite
    .row.row--justify-center
        .row__col.row__col--md-10.row__col--tablet-12
            h2.text.text--xl2.text--normalzed Приглашаем вас пройти коуч-сессии у сертифицированных коучей международного уровня. 
            .mt-65
                .row.row--xs-column
                    .row__col.row__col--md-6
                        p.text.text--s
                            span.text.text--s2.text--bold700 Условия помощи просты:
                            br
                            br
                            span Мы предоставляем возможность пройти 1 коуч-сессию бесплатно*, взамен мы ждем отзыво работе нашего профессионала.
                        p.mt-25.text.text--xs3 * — Перенос коуч-сессии по договоренности возможен один раз, не позднее, чем за 12 часов. В случае неявки без предупреждения, прохождение 1 бесплатной сессии засчитывается автоматически.
                    .row__col.row__col--md-6
                        p.text.text--s Неважно, кто вы! Предприниматель, родитель, специалист, студент, руководитель, собственник.
                            br
                            br
                            | Важно, что вы хотите стать устойчивее в эпоху изменений и начать действовать осознанно, чувствуя себя при этом спокойно.

