.hotline-page-header
    .container
        .breadcrumbs
            span.text.text-xs О центре / 
        .row.row--tablet-column
            .row__col.row__col--md-4
                h1.text.text--l Горячая линия
            .row__col
                .text.text--s Волонтерский проект Международного Центра Профессионального Коучинга ICP Centre