include ./leading-card
include ./leading-history
include ./leading-specialization
include ./leading-block-list

ul.leading-list
    li.leading-list__item
        +leading-card("Галина Вдовиченко", "https://via.placeholder.com/600x400")
            +slot('description')
                p.text.text--s2 Профессиональный Сертифицированный Коуч, PCC ICF
                    br
                    | Управляющий ICP Centre

            -
                const careerItems = [
                    {
                        date: 'С 2018 по н.в.',
                        text: 'управляющий Международного Центра профессионального коучинга ICP CENTRE;'
                    },
                    {
                        date: 'С 2017 по н.в.',
                        text: 'руководитель коучинговой компании GV Coaching (Санкт-Петербург);'
                    },
                    {
                        date: 'С 2016 по н.в.',
                        text: 'ведущий международной программы «Коучинг: возможности без границ», ICP Centre;'
                    },
                    {
                        date: 'С 2014 года',
                        text: 'руководитель коучинговых проектов;'
                    },
                    {
                        date: 'С 2012 года',
                        text: 'ассистент на международных программах коучинга формата ACTP ICF;'
                    },
                    {
                        date: '2015-2016',
                        text: 'соучредитель тренинговой компании (Inspiration LAB);'
                    },
                    {
                        date: '2015',
                        text: 'кризис-руководитель рекламного агенства полного цикла;'
                    },
                    {
                        date: '2013-2014',
                        text: 'директор коучинговой компании (КК NEXT LEVEL);'
                    },
                    {
                        date: '2012-2017',
                        text: 'руководитель коучингового проекта (GV Coaching);'
                    },
                    {
                        date: '2011',
                        text: 'заместитель директора (Коучинговая компания NEXT LEVEL);'
                    },
                    {
                        date: '2010',
                        text: 'менеджер по работе с клиентами (ТК NEXT LEVEL);'
                    },
                    {
                        date: '2008-2011',
                        text: 'руководитель отдела indoor в рекламном агентстве полного цикла.'
                    }
                ]

                const specializations = [
                    {
                        img: "images/leading.svg#specialization-1",
                        title: "Коучинг коучей"
                    },
                    {
                        img: "images/leading.svg#specialization-2",
                        title: "Коучинг личной эффективности"
                    },
                    {
                        img: "images/leading.svg#specialization-3",
                        title: "Коучинг публичных выступлений"
                    },
                    {
                        img: "images/leading.svg#specialization-4",
                        title: "Коучинг развития грамотности и культуры русской речи;"
                    },
                    {
                        img: "images/leading.svg#specialization-5",
                        title: "Менторинг для коучей по 11 профессиональным компетенциям ICF."
                    },
                ]

                const educationItems = [
                    {
                        date: null,
                        text: 'Изучала лингвистику и PR (НГЛУ, ННГУ)'
                    },
                    {
                        date: '2011',
                        text: 'мастер-класс «Психиатрия для Коучей»;'
                    },
                    {
                        date: '2011',
                        text: 'обучение по международной сертифицированной программе обучения коучингу (ACSTH);'
                    },
                    {
                        date: '2012',
                        text: 'ассистент международных программ обучения коучингу;'
                    },
                    {
                        date: '2012',
                        text: 'Тренинг Тренеров (тренинговая компания NEXT LEVEL)'
                    },
                    {
                        date: '2013',
                        text: 'коуч-специализация — «Эмоциональная компетентность Лидера» (авторский тренинг по специализации Александры Прицкер);'
                    },
                    {
                        date: '2015',
                        text: 'тренер международных программ обучения коучингу;'
                    },
                    {
                        date: '2015–2016',
                        text: 'повышение квалификации в коучинге (ACTP);'
                    },
                    {
                        date: '2016',
                        text: 'Профессиональный Ментор-Коуч, CCE ICF, ICP Centre.'
                    }
                ]
            +slot('body')
                +leading-history("Карьера:", careerItems)
                +leading-specialization(specializations)
                +leading-history("Образование:", educationItems)

    li.leading-list__item
        +leading-card("Мария Балашова", "https://via.placeholder.com/600x400", "blue")
            +slot('description')
                p.text.text--s2 Профессиональный Сертифицированный КоучPCC ICF
                    br
                    | Управляющий партнер ICP-CENTRE
                    br
                    | Сертифицированный бизнес-тренер

            -
                const specializations = [
                    {
                        img: "images/leading.svg#specialization-6",
                        title: "Тренер международной программы «Коучинг: возможности без границ»"
                    },
                    {
                        img: "images/leading.svg#specialization-5",
                        title: "Менторинг для коучей по 11 профессиональным компетенциям ICF."
                    },
                    {
                        img: "images/leading.svg#specialization-7",
                        title: "Бизнес коучинг. Executive-коучинг"
                    },
                    {
                        img: "images/leading.svg#specialization-8",
                        title: "Коучинг команд"
                    },
                    {
                        img: "images/leading.svg#specialization-9",
                        title: "Коучинг для родителей."
                    },
                ]

                const educationItems = [
                    "Омский государственный университет: Историк. Преподаватель",
                    "Московский университет экономики, статистики информатики: Юрист.",
                    "Хакасский Институт Бизнеса. Менеджмент.",
                    "Академия Повышения Квалификации и Профессиональной переподготовки Работников образования РФ: психолог.",
                    "Аспирантура Московского гуманитарного университета. Специальность: Психология"
                ]

                const educationCouchingItems = [
                    'Международный Эриксоновский университет коучинга "The Art & Science of Tranformation Coauching" (Коучинг: новые возможности лидерства. Наука искусство трансформационного коучинга)',
                    '«Коучинг: возможности без границ» АСТР (ICP Centre)',
                    '«Тренерский курс «Основы коучинга»', 
                    '«Эмоциональная компетентность коуча» (Ольга Рыбина)',
                    '«Профессиональный ментор-коуч» (ICP Centre)',
                    '«Мастерство Командного Коучинга» (Елена Челокиди)'
                ]

                const additionalItems = [
                    'Медиация. Базовый курс. Лаврова Н.М',
                    'Более 100 семинаров и тренингов ведущих бизнес-тренеров международного уровня, втом числе:Радмило М. Лукич; Борис Жалило; Michael Bang (UK); Brian Tracy International, Радислав Гандапас,Ицхак Пинтосевич, Мэрлин Аткинсон, Ольга Рыбина и многие другие.'
                ]
                
                const experienceItems = [
                    'Управляющий партнер Международного центра профессионального коучинга (ICP CENTRE)',
                    'Управляющий партнер Мастерской делового и личностного развития LARNATO',
                    'Учредитель и Директор семейного культурно-развлекательного центра «Лукоморье»',
                    'Учредитель и Руководитель Центра семейной культуры и развития',
                    'Генеральный директор Саянской лизинговой компании',
                    'Опыт ведения собственного бизнеса с 2000 года',
                    'Директор Хакасского регионального общественного благотворительного фонда «Радуга»',
                    'Заместитель директора школы по воспитательной работе',
                    'Преподаватель в колледже (юридические дисциплины)',
                    'Школьный учитель истории и обществознания, основ экономических знаний'
                ]
                
                const requestsItems = [
                    'Раскрытие личного потенциала и повышение личной и бизнес-эффективности',
                    'Развитие необходимых управленческих компетенций: целеполагание, планирование, делегирование,контроль.',
                    'Решение текущих бизнес-задач.',
                    'Выстраивание системы эффективного корпоративного управления.',
                    'Стратегическое планирование деятельности предприятий',
                    'Создание управленческой команды',
                    'Корпоративная культура'
                ]

            +slot('body')
                p.text.text--m3 Автор и ведущая тренингов семинаров по личной и бизнес эффективности управлению персоналом, развитию управленческих навыков для руководителей и собственников  бизнеса лидерству, управлению продажами.
                    br
                    | Эксперт Международного Бизнес Клуба IBCMBA
                    br
                    | Автор и ведущая тренингов для родителей.
                +leading-specialization(specializations)
                .mt-65
                    .row.row--tablet-column
                        .row__col.row__col--md-4
                            +leading-block-list("Образование", educationItems)
                        .row__col.row__col--md-4
                            +leading-block-list("Образование в коучинге", educationCouchingItems)
                        .row__col.row__col--md-4
                            +leading-block-list("Дополнительно", additionalItems)
                .mt-30
                    .row.row--tablet-column
                        .row__col.row__col--md-8
                            +leading-block-list("Опыт:", experienceItems)
                        .row__col.row__col--md-4
                            +leading-block-list("Основные запросы:", requestsItems)

    li.leading-list__item
        +leading-card("Наталья Гульчевская", "https://via.placeholder.com/600x400", "green")
            +slot('description')
                p.text.text--s2 Кандидат психологических наук
                    br
                    | Сертифицированный бизнес-тренер
                    br
                    | Ассоциированный Сертифицированный Коуч PCC ICF

            -
                const educationItems = [
                    'Аспирантура РО ИПКиПРО, Педагогическая психология, Кандидат психологических наук;',
                    'РО ИПКиПРО, Спецфакультет, Психология;',
                    'Ростовский государственный университет, Механико-математический факультет, Прикладная математика.'
                ]

                const qualificationItems = [
                    '«Тренинг-менеджмент: теория и практика проведения тренингов», курс профессиональной переподготовки ИПК ГС РАГС при Президенте РФ и Центра кадровых технологий XXI век, Москва, (502 ч.);',
                    'Сертификационная программа подготовки профессиональных коучей «Наука и искусство трансформационного коучинга», Международный Эриксоновский Университет коучинга;',
                    'Erickson College International «Powerful Team Coaching & Innovation»;',
                    'Erickson College International «Standing in Contribution: A Trainer’s Training», Certified Business Trainer;',
                    'Центр повышения квалификации МПГУ, «Уроки мышления Э.де Боно» и «Интеллект-карты Т.Бьюзена».'
                ]

                const experienceItems = [
                    {
                        date: '2014−2015',
                        text: 'глава комитета регионального развития, Совет директоров ICF Russia;'
                    },
                    {
                        date: 'с 2013 по н.в.',
                        text: 'основатель и руководитель портала КоучингвОбразовании.рф;'
                    },
                    {
                        date: 'с 2011 по н.в.',
                        text: 'коуч, бизнес-тренер, индивидуальный предприниматель;'
                    },
                    {
                        date: '2009–2011',
                        text: 'руководитель отдела обучения и развития персонала, МФ «Мария»;'
                    },
                    {
                        date: '2008–2009',
                        text: 'руководитель тренинговых проектов, разработчик и тренер корпоративных программ командообразования, «Отдел Экстремальных Вторников»'
                    },
                    {
                        date: '2006—2008',
                        text: 'тренер, руководитель отдела обучения и развития персонала, Филиал «Росгосстрах»;'
                    },
                    {
                        date: '2004–2009',
                        text: 'старший преподаватель кафедры психологии, Южный федеральный университет;'
                    },
                    {
                        date: '1995–2002',
                        text: 'преподаватель психологии, Ростовский областной институт повышения квалификации и переподготовки работников образования.'
                    }
                ]
                
                const projectItems = [
                    {
                        text: 'Курс «Лидерство в кризисные времена: перезагрузка команды и бизнеса» — по заказу Фонда гарантий и развития предпринимательства Псковской области;'
                    },
                    {
                        text: 'Личный и бизнес-коучинг — более 300 часов;'
                    },
                    {
                        text: 'Коучинг среднего менеджмента крупных компаний, коучинговые корпоративные проекты Международного Эриксоновского университета коучинга (МЭУК), Москва;'
                    },
                    {
                        text: 'Командный коучинг (SAP СНГ, Сотекс, АртЛайф, Тавр, QIWI, Корифей, ADV Group, Knauf Insulation, Завод Оконная мануфактура, Псковский бизнес-инкубатор и т.д.);'
                    }
                ]

            +slot('body')
                p.text.text--m3 Автор и ведущая тренингов семинаров по личной и бизнес эффективности управлению персоналом, развитию управленческих навыков для руководителей и собственников  бизнеса лидерству, управлению продажами.
                    br
                    | Эксперт Международного Бизнес Клуба IBCMBA
                    br
                    | Автор и ведущая тренингов для родителей.
                .row.row--xs-column
                    .row__col.row__col--md-6
                        +leading-block-list("Образование", educationItems)
                    .row__col.row__col--md-6
                        +leading-block-list("Образование в коучинге", qualificationItems)
                +leading-history("Профессиональный опыт:", experienceItems)
                +leading-history("Основные коучинг и тренинг проекты:", projectItems)

    li.leading-list__item
        +leading-card("Елена Челокиди", "https://via.placeholder.com/600x400", "gray")
            +slot('description')
                p.text.text--s2 Профессиональный Сертифицированный Коуч PCC ICF
                    br
                    | Бизнес-коуч, ментор, издатель и преподаватель
                    br
                    | Автор серии проектов «Мир Командного Коучинга»

            -
                const developmentItems = [
                    { date: '2019', text: 'Коучинг первых лиц, (CCE ICF), Coaching and Mentoring International (UK)' },
                    { date: '2019', text: 'Ментор в международном реестре менторов ICF' },
                    { date: '2019', text: '«Мир Командного Коучинга», (CCE ICF)' },
                    { date: '2018 — нв.', text: 'Приглашенный преподаватель Института Практической Психологии НИУ ВШЭ' },
                    { date: '2018', text: 'Квалификация Coaching and Mentoring International (UK) на преподавание программ менторинга в областях:' },
                    { text: 'Менторинг развития талантов в компании' },
                    { text: 'Executive менторинг' },
                    { text: 'Менторинг разнообразия' },
                    { text: 'Образовательный менторинг' },
                    { text: 'Менторинг сообществ' },
                    { text: 'Обзор отношений ментора и менти' },
                    { text: 'Брифинг линейных менеджеров' },
                    { date: '2018', text: '«Навыки эмоциональной компетентности», PEI Russia' },
                    { date: '2018', text: 'Публикация на русском языке книги «Сильные вопросы для командных коучей», автор проф. Д. Клаттербак' },
                    { date: '2017', text: 'PCC ICF' },
                    { date: '2017', text: 'Модули 2-3 сертификационного курса командного коучинга (CCE ICF), Coaching and Mentoring International (UK)' },
                    { date: '2017', text: 'Квалификация на преподавание программы «Team Coaching Mastery», Coaching and Mentoring International (UK)' },
                    { date: '2016', text: 'Публикация на русском языке книги «Сильные вопросы для коучей и менторов», автор проф. Д. Клаттербак' },
                    { date: '2015', text: 'ACC ICF' },
                    { date: '2015', text: '«Эффективное управление программами менторинга», " Основной курс командного коучинга" (CCE ICF), Coaching and Mentoring International (UK)' },
                    { date: '2014', text: 'Уровень 2 «Практика коучинга» (ACTP), Novaterra Coaching and Corporate Development (Belgium)' },
                    { date: '2013', text: '«Тренинг для тренеров: быть вкладом в людей», «Командный коучинг», " Глубинный коучинг" (CCE ICF), Erickson Coaching International (Canada)' },
                    { date: '2012', text: 'Erickson Coaching International (Canada), «The Art and Science of Coaching» (ACSTH ICF)' },
                ]

                const specializations = [
                    {
                        img: "images/leading.svg#specialization-10",
                        title: "Коучинг командной эффективности"
                    },
                    {
                        img: "images/leading.svg#specialization-11",
                        title: "Коучинг лидерских навыков"
                    },
                    {
                        img: "images/leading.svg#specialization-12",
                        title: "Коучинг коммуникативных навыков"
                    },
                    {
                        img: "images/leading.svg#specialization-2",
                        title: "Коучинг личной эффективности"
                    },
                ]

                const experienceItems = [
                    { date: '2019', text: 'автор и организатор проекта «Мир Командного Коучинга: ПРАКТИКА» и конференции «Мир Командного Коучинга: КЕЙСЫ»' },
                    { date: '2018', text: 'автор и со-организатор международного марафона «Мир Командного Коучинга.TCWORLD»' },
                    { date: '2018', text: 'обладатель международной премии ICF «Young Leader Award»' },
                    { date: '2017', text: 'обладатель премии «Leadership Coaching Awards» в номинации «Драйвер профессии» (Россия)' },
                    { date: '2016-2017', text: 'Президент ICF Russia Chapter.' },
                    { date: '2015 — н.в.', text: 'партнер сети и тренер программ проф. Дэвида Клаттербака в России' },
                    { date: '2014 - н.в.', text: 'основатель, «Центр развития для коучей и менторов Елены Челокиди».' },
                    { date: '2011', text: 'исполнительный директор, компания «Удача», подразделение «Мегазем»' },
                    { date: '2007-2009', text: 'заместитель главного редактора, ИА «Российская недвижимость»' },
                    { date: '2002-2007', text: 'директор по маркетингу, центр дизайна «МОЦДАРС»' },
                    { date: '2002', text: 'HR специалист, автомобильный завод «УАЗ»' },
                    { date: '2002', text: 'выпуск из университета (2 красных диплома — юрист и экономист)' }
                ]

            +slot('body')
                p.text.text--m3 Профессиональный Сертифицированный Коуч PCC ICF
                    br
                    | Бизнес-коуч, ментор, издатель и преподаватель
                    br
                    | Автор серии проектов «Мир Командного Коучинга»

                +leading-history("Профессиональное развитие", developmentItems)
                +leading-specialization(specializations)
                +leading-history("Лидерский опыт", experienceItems)
