mixin leading-card(name, img, type="orange")
    - const slots = {}
    
    mixin slot(key)
        - slots[key] = block

    block

    .leading-card(class=`leading-card--${ type }`)
        header.leading-card__header
            .row.row--s1-col-reverse
                .row__col.row__col--md-6.row__col--s1-12
                    .leading-card__info
                        h2.leading-card__name= name
                        if slots.description
                            .leading-card__description
                                - slots.description()
                .row__col.row__col--md-6.row__col--s1-12
                    .leading-card__img-wrp
                        img(src=img).leading-card__img
        if slots.body
            section.leading-card__body
                - slots.body()
        footer.leading-card__footer
            img(src="images/leading.svg#PCC" alt="Professional Certified Coach").leading-card__logo