include ./reviews-list

- 
    const reviews = [
        {
            text: "Эта уникальная программа раскрыла глубокий и безграничный мир коучинга во всей его красоте и богатстве, позволила мне раскрыть свои потенциальные возможности, овладеть 11 компетенциями коуча, почувствовать уверенность и желание развиваться и совершенствоваться.",
            author: {
                avatar: "https://loremflickr.com/50/50?random=1",
                name: "Попов Артур Сергеевич"
            },
            program: "Agile-коучинг"
        },
        {
            text: "Высокопрофессиональная команда ICP центра очень качественно, системно, экологично сопровождает каждого студента на его индивидуальном маршруте обучения. Благодарность всем преподавателям, ассистентам, менторам за поддержку и веру в возможности каждого!",
            author: {
                avatar: "https://loremflickr.com/50/50?random=2",
                name: "Марина Жигулина"
            },
            program: "Agile-коучинг"
        },
        {
            text: "Все супер!",
            author: {
                avatar: "https://loremflickr.com/50/50?random=3",
                name: "Петрова Василиса"
            },
            program: "Agile-коучинг"
        },
        {
            text: "Борьба демократических и олигархических тенденций, как и в других отраслях российского права, законодательно подтверждает современный континентально-европейский тип политической культуры, именно такой позиции придерживается арбитражная практика.",
            author: {
                avatar: "https://loremflickr.com/50/50?random=4",
                name: "Терентьев Роман"
            },
            program: "Agile-коучинг"
        },
        {
            text: "Ограниченная ответственность перманентно индоссирует преддоговорный механизм власти. Политическое учение Локка, как правило, подведомственно арбитражному суду.",
            author: {
                avatar: "https://loremflickr.com/50/50?random=5",
                name: "Дегтярева Милана"
            },
            program: "Agile-коучинг"
        },
        {
            text: "В постмодернистской перспективе натуралистическая парадигма правомерна. Вопреки распространенным утверждениям, рента нормативно формирует плюралистический культ личности, подчеркивает президент.",
            author: {
                avatar: "https://loremflickr.com/50/50?random=6",
                name: "Муравьев Андрей"
            },
            program: "Agile-коучинг"
        },
        {
            text: "В специальных нормах, посвященных данному вопросу, указывается, что собственность защищает уставный христианско-демократический национализм. Правоспособность лица может быть поставлена под сомнение, если обязанность очевидна не для всех.",
            author: {
                avatar: "https://loremflickr.com/50/50?random=7",
                name: "Герасимов Юрий"
            },
            program: "Agile-коучинг"
        },
        {
            text: 'Субъект политического процесса отражает сервитут. Движимое имущество, на первый взгляд, сохраняет акционерный страховой полис. Фирменное наименование предсказуемо. Право собственности неизбежно. Акционерное общество случайно. <br><br> По мнению Бакунина, кредитор неизбежен. Конфиденциальность, в первом приближении, фактически опровергает доиндустриальный тип политической культуры. Наследование лицензирует гносеологический политический процесс в современной России (приводится по работе Д.Белла "Грядущее постиндустриальное общество"). Политическая психология арендует законодательный предпринимательский риск.',
            author: {
                avatar: "https://loremflickr.com/50/50?random=8",
                name: "Тихомирова Валентина"
            },
            program: "Agile-коучинг"
        },
        {
            text: "Отчуждение, как можно доказать с помощью не совсем тривиальных допущений, случайно. Страховая сумма обеспечена залогом. При наступлении согласия всех сторон политическая социализация вероятна.",
            author: {
                avatar: "https://loremflickr.com/50/50?random=9",
                name: "Афанасьев Камиль"
            },
            program: "Agile-коучинг"
        }
    ]

.reviews-content
    +reviews-list(reviews)