.about-title {
    @include tablet-xs {
        $img-width: 100px;

        display: flex;
        align-items: center;
        height: $img-width;
        margin-top: calc(-#{$img-width} - 30px);
        margin-left: calc(#{$img-width} + 20px);
    
        &__img {
            width: $img-width;
            height: $img-width;
            margin-right: auto;
            object-fit: cover;
        }

        br {
            display: none;
        }
    }
}