extends ../base

block layout
    include particles/header
    main
        .container
            a(href="/")
                img(src="images/svg/logo.svg").logo-duplicate
        block content
    include particles/hotline-page-footer