include ../../../components/comments

-
    const items = [
        {
            author: {
                avatar: "https://loremflickr.com/50/50",
                name: "Рыбаков Иван Владимирович"
            },
            date: "4 сентября 2020",
            text: "Космогоническая гипотеза Шмидта позволяет достаточно просто объяснить эту нестыковку, однако тропический год вращает популяционный индекс, учитывая, что в одном парсеке 3,26 световых года. ",
            children: [
                {        
                    author: {
                        avatar: "https://loremflickr.com/51/50",
                        name: "Царева Милана Андреевна"
                    },
                    date: "4 сентября 2020",
                    text: "Высота, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид решает вращательный космический мусор."
                }
                
            ]
        },
        {
            author: {
                avatar: "https://loremflickr.com/50/51",
                name: "Шилов Марк Георгиевич"
            },
            date: "4 сентября 2020",
            text: "Рефракция традиционно решает Ганимед. Высота, несмотря на внешние воздействия, выслеживает радиант. Прямое восхождение традиционно выслеживает космический экватор."
        }
    ]

.news-detail2-comments
    .container
        +comments(items)