.news-detail2-card
    .container
        .row
            .news-detail2-card__content.row__col.row__col--md-8
                p.text.text--m Саламандра ползает по стволу дерева и заражает ядом его плоды. Американец, возглавляющий агентурную сеть, во время роковой встречи с парикмахером по кличке Католик не отражается в зеркале. Художник, смерть которого была официально засвидетельствована, на мгновение приподнимает голову.
                br
                p.text.text--s Да, вы не ошиблись: темный кинозал «Ножа» вновь распахивает свои скрипучие двери, по заросшим паутиной углам жмутся демоны-фамилиары, а наш легендарный киномеханик Гарик Осипов зловеще хохочет, заправляя в аппарат видавшую виды пленку со старым шпионским фильмом. Наберитесь мужества: от зловещих тайн, к раскрытию которых мы приступаем, вам на протяжении всего сеанса будет немного не по себе.
                    br
                    | В период выхода на экраны детектива «Выстрел в тумане» (1963) любознательный ребенок мог увидеть саламандру на рисунке в Малой советской энциклопедии, прочитав по слогам смешное определение: «род хвостатых земноводных».
                    br
                    | Пару лет спустя, читая уже довольно бегло повесть «Понедельник начинается в субботу», он заливался скопческим детским смехом и гримасничал, запинаясь лишь в двух местах. Его завораживал жуткий эпиграф из Мопассана:
                // цитата
                br
                p.text.text--s И краткий словарь оккультных терминов на последней странице книги. Почему-то в нем отсутствовала саламандра. И чем досаднее выглядело отсутствие этого существа в указателе упырей и гарпий, тем назойливей пульсировал его образ, вычитанный в другом месте: живет в огне.
                br
                // слайдер
                p.text.text--s Эти два слова перечеркивали его представления о природе, как нескромный рисунок на стене гаража.
                    br
                    | Тема огненной жертвы была весьма популярна в те годы, причем без возрастных ограничений.
                // карточка
                p.text.text--s Огонь был ключевым элементом шестидесятых, воспеваемый в песнях Артура Брауна, Джими Хендрикса и The Doors, каждая из которых моментально становилась хитом мирового масштаба.
                // видео
                p.text.text--s Полотно экрана воспроизводит фантазии зрителя, подчас весьма рискованные для его репутации, не отражая его личность. Таким образом, человек, сидящий в кинозале, тоже немного «дракула», поскольку вампиры не отражаются в зеркалах по неведомой или тщательно скрываемой причине.
                
            .news-detail2-card__aside.row__col.row__col--md-4
                span.text.text--xs3 19 декабря 2020 года
        