.education-header
    .container
        +breadcrumbs(["Процесс обучения"])
        .row.row--tablet-column
            .row__col
                h1.text.text--l Онлайн и очное обучение
        .education-header__description
            p.text.text--m ICP с первых дней работает онлайн. Важно, что этот формат коррелирует с сутью коучинга — осознанным обучением и свободой. Мы никогда не откажемся от очного обучения, потому что это тоже про свободу и про то, что люди — разные. Главное — правильно разобраться в том, что тебе подходит.