.festival-main
    img(src="images/jpg/festival/main.png" alt="Фестиваль").festival-main__bcg
    .container.festival-main__container
        .festival-main__body
            .festival-main__top
                img(src="images/common.svg#icp-logo-short" alt="icp logo" width="38px" height="39px").festival-main__logo
                span.text.text--s2.text--bold700 2021
            .festival-main__content
                h1
                    span.festival-main__title.festival-main__title--s КОУЧИНГ:
                    br
                    span.festival-main__title.festival-main__title--m ПРОФЕССИЯ,
                    br
                    span.festival-main__title.festival-main__title--l БИЗНЕС, ЖИЗНЬ
                p.text.tex--m.text--bold.festival-main__subtitle Международный фестиваль коучинга в Анапе