.festival-header
    .container
        .festival-header__body
            .festival-header__top
                img(src="" alt="icp logo").festival-header__logo
                span.text.text--s2.text--bold700 2021
            .festival-header__content
                h1
                    span.festival-header__title.festival-header__title--s КОУЧИНГ: 
                    span.festival-header__title.festival-header__title--m ПРОФЕССИЯ,
                    span.festival-header__title.festival-header__title--l БИЗНЕС, ЖИЗНЬ
                p.text.tex--m.text--bold.festival-header__subtitle Международный фестиваль коучинга в Анапе