include ../../../components/video-preview

.festival-invite
    .festival-invite__body
        .festival-invite__video
            +video-preview("images/svg/video-previews/festival.svg", "Приглашения<br>на фестиваль", "https://www.youtube.com/embed/cnXapYkboRQ")
    .container
        .festival-invite__body
            .festival-invite__content
                .row.row--xs-column
                    .row__col.row__col--md-6.row__col--xs-12
                        p
                            span.text.text--m.text--bold Мы уже знаем ответ, что будет
                            br
                            br
                            span.text.text--s решение самых острых профессиональных задач,а также частный запросов (трансформация), обмен опытом.
                                br
                                br
                                | А еще произойдут устойчивые изменения в карьереи жизни и появятся великие профессиональные альянсы 
                    .row__col.row__col--md-6.row__col--xs-12
                        p
                            span.text.text--m.text--bold Поэтому если вам важно
                            br
                            br
                            span.text.text--s Погрузиться в профессиональную тусовку или обогатиться знаниями от мировых экспертовв коучинге. Развиртуализироваться и обнять соратников, а также «перезагрузиться».
                                br
                                br
                                | Ну и конечно, отдохнуть в самом начале бархатного сезона на черноморском побережье!
            