.festival-contacts
    .container
        .festival-contacts__row
            .festival-contacts__col.festival-contacts__col--left
                img(src="images/common.svg#logo").festival-contacts__logo
                span.festival-contacts__description Один из крупнейших в Европе международных центров обуения с сертификацией ICF
            .festival-contacts__col.festival-contacts__col--right
                a(href="mailto:info@icpcentre.org").festival-contacts__link.festival-contacts__link--email info@icpcentre.org
                a(href="tel:88005513531").festival-contacts__link.festival-contacts__link--phone 8 800 551-35-31