include ../../../mixins/tariffs

-
    const items = [
        {
            name: "Участие в фестивале",
            description: "Проживание, ужины, поездки и экскурсии оплачиваются отдельно",
            price: "25 000 ₽",
            payFormat: "единовременный платеж",
            buttonText: "Оплатить участие"
        },
        {
            name: "Предоплата за участие",
            description: "Как гарантию участия и для постоянной связи с вашим менеджером, который будет делиться новостями фестиваля.",
            price: "5000 ₽",
            buttonText: "Внести предоплату"
        }
    ]

+tariffs("Стоимость участия", items)