.festival-main
    .container
        .festival-main__body
            .festival-main__top
                img(src="" alt="icp logo").festival-main__logo
                span.text.text--s2.text--bold700 2021
            .festival-main__content
                h1
                    span.festival-main__title.festival-main__title--s КОУЧИНГ: 
                    span.festival-main__title.festival-main__title--m ПРОФЕССИЯ,
                    span.festival-main__title.festival-main__title--l БИЗНЕС, ЖИЗНЬ
                p.text.tex--m.text--bold.festival-main__subtitle Международный фестиваль коучинга в Анапе