.loyalty-program-header
    .container.loyalty-program-header__container
        +breadcrumbs(["О центре"])
        h1.text.text--l Программа Лояльности
        .loyalty-program-header__description
            .mt-25
                p.text.text--m Скидки и бонусы для наших выпускников и студентов.
                    br
                    br
                    | Для нас важно, чтобы больше людей понимали, что такое профессиональный коучинг и применяли этот метод в жизни.Этого можно достичь через ваши честные отзывы и рекомендации.
                    br
                    br
                    | Если у вас есть коллеги или знакомые, которые ищут, у кого обучаться коучингу, предлагаем партнерские условия WinWin:
