.loyalty-program-spend
    .container
        .loyalty-program-spend__row
            .loyalty-program-spend__col.loyalty-program-spend__col--left
                .loyalty-program-spend__img-wrp
                    img(src="images/svg/loyalty-program-spend.svg" alt="spend").loyalty-program-spend__img
            .loyalty-program-spend__col.loyalty-program-spend__col--right
                h2.text.text--m.text--bold Куда потратить баллы?
                .mt-30
                    p.text.text--m Ваш персональный менеджер подскажет все возможные варианты по использованию баллов. На данный момент, среди наших партнеров, две популярные опции:
                .mt-30
                    .row.row--xs-column
                        .row__col.row__col--md-6.row__col--xs-12
                            span.text.text--s Учесть как скидку для любого курса в ICP Centre.
                                br
                                a(href="#").text--link Все наши курсы
                        .row__col.row__col--md-6.row__col--xs-12
                            span.text.text--s Получить наличными на карту или расчетный счет (от 10 000 накопленных баллов).