doctype html
html
    head
        block styles
            link(rel="stylesheet" href!=`./css/map.css?v=${Date.now()}`)
    body
        ul
            li
                a(href="./home.html") Главная
            li
                a(href="./capabilities.html") Возможности 
            li
                a(href="./about.html") О центре
                ul
                    li 
                        a(href="./branches.html") Представительства
                    li 
                        a(href="./team.html") Наша команда
                    li 
                        a(href="./partners.html") Партнёры
                    li
                        a(href="./leading.html") Ведущие
                    li
                        a(href="./hotline-page.html") Горячая линия
                    li
                        a(href="./loyalty-program.html") Программа лояльности
            li Процесс обучения
                ul
                    li 
                        a(href="./schedule.html") Расписание
                    li 
                        a(href="./education.html") Онлайн и очное обучение
            li
                a(href="./webinars.html") Открытые вебинары
            li
                a(href="./news.html") Новости
                ul
                    li
                        a(href="./news-detail.html") Детальная новость
                    li
                        a(href="./news-detail2.html") Детальная новость v.2
            li
                a(href="./forms-page.html") Формы
            li
                a(href="./programs.html") Программы
            li
                a(href="./reviews.html") Отзывы
            li
                a(href="./festival.html") Коуч-Фестиваль
            li
                a(href="./library.html") Библиотека
