doctype html
html
    head
        block styles
            link(rel="stylesheet" href!=`./css/map.css?v=${Date.now()}`)
    body
        a(href="./home.html") Главная
        a(href="./capabilities.html") Возможности
        a(href="./about.html") О центре