doctype html
html
    head
        block styles
            link(rel="stylesheet" href!=`./css/map.css?v=${Date.now()}`)
    body
        ul
            li
                a(href="./home.html") Главная
            li
                a(href="./capabilities.html") Возможности 
            li
                a(href="./about.html") О центре
                ul
                    li 
                        a(href="./branches.html") Представительства
                    li 
                        a(href="./team.html") Наша команда
                    li 
                        a(href="./partners.html") Партнёры
            li Процесс обучения
                ul
                    li 
                        a(href="./schedule.html") Расписание
            li
                a(href="./webinars.html") Открытые вебинары
            li
                a(href="./news-detail.html") Детальная новость
            li
                a(href="./forms-page.html") Формы
            li
                a(href="./programs.html") Программы